.error404 #hamburger {
    //display: none;
}

.error404 {
    background: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


/*
.page404 {
    background: url('/wp-content/uploads/2022/01/404bg.png') center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.wrapper404 {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    &__number {
        display: flex;
        flex-direction: row;
        font-size: 100rem;

        &--1 {
            height: 330rem;
            width: 180rem;
            position: relative;

            img.first {
                position: absolute;
                left: 0;
                top: 0;
            }

            img.second {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
}

*/

.page404-1 {
    background: url(/wp-content/uploads/2022/02/tlo-404.png) center center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    display: none;
    // &__desc {
    //     background: url(/wp-content/uploads/2022/01/404-1-desc.png) center center no-repeat;
    //     background-size: contain;
    //     width: 640rem;
    //     height: 110rem;
    //     mix-blend-mode: difference;
    //     position: absolute;
    //     left: calc(50% - 310rem);
    //     top: calc(50% + 150rem);
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     span {
    //         font-size: 49rem;
    //         margin-top: 26rem;
    //         text-transform: uppercase;
    //         font-weight: 600;
    //     }
    // }
}

.page404-2 {
    background: url(/wp-content/uploads/2022/02/tlo-404.png) center center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    display: none;
    // &__desc {
    //     background: url(/wp-content/uploads/2022/01/404-1-desc.png) center center no-repeat;
    //     background-size: contain;
    //     width: 640rem;
    //     height: 110rem;
    //     mix-blend-mode: difference;
    //     position: absolute;
    //     left: calc(50% - 310rem);
    //     top: calc(50% + 150rem);
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     span {
    //         font-size: 49rem;
    //         margin-top: 26rem;
    //         text-transform: uppercase;
    //         font-weight: 600;
    //     }
    // }
}

.page-404-show {
    display: block;
}