.banner {
    // height: 100vh;
    //min-height: 1000rem;
    background: #000;
    @media(min-width: 992px) {
        .bannerfixpos {
            margin-left: 862rem !important;
            margin-bottom: 100rem;
        }
    }
    @media(min-width: 992px) {
        height: 1080rem;
        max-height: 100vh;
    }
    @media(max-width: 991px) {
        min-height: auto;
        padding-bottom: 40rem;
    }
    @media(max-height:900px) and (min-width: 992px) {
        min-height: 900rem;
    }
    h1,
    h2 {
        color: $white;
    }
    .mySwiperBanner {
        min-height: 800rem;
        padding: 120rem 0 50rem;
        @media(min-width: 992px) {
            padding: 120rem 0;
            min-height: 800rem;
            height: 1080rem;
            padding: 0;
        }
        @media(max-width: 991px) {
            min-height: 620rem !important;
            padding: 30rem 0 10rem;
        }
        .swiper-slide {
            color: #fff;
            display: flex;
            align-items: center;
            .swiper-slide__image-left {
                @media(max-width: 991px) {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 100rem;
                }
                img {
                    width: 500rem;
                    margin: 0 auto;
                    @media(min-width: 992px) {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 47%;
                        height: auto;
                        object-fit: contain;
                        transform: translate(0, -50%);
                    }
                    @media(min-width: 992px) {
                        top: unset;
                        transform: unset;
                        bottom: 0;
                        left: 1%;
                        width: 47%;
                        height: calc(100% - 80rem);
                        object-fit: contain;
                    }
                    @media(max-width:991px) {
                        position: absolute;
                        opacity: .25;
                        margin-top: 70rem;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        object-fit: cover;
                        width: 80vw;
                        height: auto;
                    }
                }
            }
            .swiper-slide-content {
                width: 100%;
                @media(min-width: 992px) {
                    padding-top: 130rem;
                }
                @media(max-width: 991px) {
                    text-align: center;
                }
                .number-magazine {
                    font-size: 40rem;
                    display: flex;
                    align-items: flex-end;
                    height: 0;
                    left: 490rem;
                    position: relative;
                    top: 53rem;
                    @media(max-width: 991px) {
                        margin-top: -70rem;
                        font-size: 40rem;
                        display: flex;
                        align-items: flex-end;
                        height: auto;
                        left: 0;
                        position: relative;
                        top: 0;
                        justify-content: center
                    }
                }
                .number-magazine>div {
                    color: #f7ab19;
                    font-weight: 800;
                    font-size: 150rem;
                    position: relative;
                    top: 46rem;
                }
            }
            h1 {
                font-size: 40rem;
                font-weight: 800;
                @media(min-width: 1024px) {
                    font-size: 64rem;
                }
            }
            span {
                background-color: $yellow;
                display: inline-block;
                padding: 0rem 60rem 0rem 4rem;
                font-size: 30rem;
                font-style: italic;
                color: #000;
                font-weight: 500;
            }
            .excerpt {
                font-size: 18rem;
                font-weight: 700;
            }
            .cta {
                font-size: 17rem;
                display: inline-block;
                background-color: #E91414;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 4rem;
                padding: 10rem;
                margin-top: 45rem;
                text-decoration: none;
                @media(min-width: 1199px) {
                    letter-spacing: 7rem;
                }
            }
        }
    }
    .swiper-arrows {
        position: absolute;
        bottom: 100rem;
        width: 50%;
        left: 50%;
        display: flex;
        padding-left: 30rem;
        flex-direction: row-reverse;
        justify-content: flex-end;
        z-index: 2;
        @media(max-width: 991px) {
            position: relative;
            bottom: 0;
            width: 100%;
            left: 0;
            display: flex;
            padding-left: 0;
            flex-direction: row-reverse;
            justify-content: center;
            z-index: 2;
            margin-top: 60rem;
        }
        .swiper-prev {
            transform: rotate(180deg);
            img {
                width: 44rem;
                @media(max-width: 991px) {
                    width: 25rem;
                }
            }
        }
        .swiper-next img {
            width: 44rem;
            @media(max-width: 991px) {
                width: 25rem;
            }
        }
        .swiper-prev,
        .swiper-next {
            margin: 0 60rem 0 0;
            cursor: pointer;
            @media(max-width: 991px) {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 30rem;
            }
            img {
                filter: brightness(0) invert(1);
                transition: all 0.5s;
                &:hover {
                    filter: unset;
                }
            }
        }
    }
}