        .articles-header {
            background: url(/wp-content/uploads/2022/02/header-articles-bg.jpg);
            background-size: cover;
            background-position: center top;
            height: 100vh;
            min-height: 800rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .header {
                h1 {
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 800;
                    display: block;
                    text-align: center;
                    font-size: 35rem;
                    letter-spacing: 20rem;
                    @media(min-width: 768px) {
                        font-size: 60rem;
                    }
                    @media(min-width: 992px) {
                        font-size: 90rem;
                    }
                    @media(min-width: 1024px) {
                        font-size: 150rem;
                        letter-spacing: 90rem;
                        position: relative;
                        left: 40rem;
                    }
                }
            }
            .wp-terms ul li {
                @media(max-width: 991px) {
                    display: block;
                    margin: 13rem 10px;
                }
            }
            .wp-terms ul li a {
                background: #f7ab19;
                font-size: 14rem;
                color: #000;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 3rem;
                padding: 9rem 8rem;
                margin: 0 7rem;
                transition: all .5s;
                @media(min-width: 992px) {
                    font-size: 18rem;
                }
                @media(min-width: 1024px) {
                    font-size: 23rem;
                    padding: 9rem 3rem 8rem 9rem;
                    letter-spacing: 10rem;
                    margin: 0 10rem;
                }
            }
            .wp-terms ul {
                display: flex;
                justify-content: center;
                padding: 0;
                flex-direction: column;
                align-items: center;
                margin-top: 0rem;
                margin-bottom: -35rem;
                @media(min-width: 992px) {
                    flex-direction: row;
                    margin-top: 30rem;
                    margin-bottom: 85rem;
                }
            }
            .wp-terms ul li a:hover {
                background: #fff;
            }
            .wp-terms ul li.active a {
                background: #fff;
            }
            .search-bar {
                max-width: 1000rem;
                margin: 70rem auto 0;
                #search {
                    width: 100%;
                    background: rgba(255, 255, 255, 0.64);
                    border: -0;
                    font-size: 18rem;
                    font-weight: 700;
                    color: #000;
                    text-indent: 20rem;
                    &::placeholder {
                        font-size: 18rem;
                        font-weight: 700;
                        color: #000;
                    }
                }
                form {
                    display: flex;
                    flex-direction: column;
                    @media(min-width: 768px) {
                        flex-direction: row;
                    }
                }
                input {
                    height: 58rem;
                    outline: 0;
                    &#searchsubmit {
                        width: 100%;
                        font-size: 15rem;
                        border-radius: 0;
                        border: 0;
                        background: #0f7ce5;
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 5rem;
                        text-indent: 6rem;
                        @media(min-width: 768px) {
                            width: 140rem;
                        }
                    }
                }
            }
        }
        
        .articles-grid {
            background: url(/wp-content/uploads/2022/02/grid-articles-bg.jpg);
            background-size: cover;
            background-position: center top;
            padding: 100rem 0 70rem;
            .articles-grid__single {
                a {
                    min-height: 400rem;
                    position: relative;
                    margin-bottom: 30rem;
                    &:hover {
                        &:before {
                            opacity: 1;
                            background: rgba(247, 171, 25, 0.54);
                        }
                        .info-post {
                            bottom: 30rem;
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0rem;
                        right: 0rem;
                        bottom: 0;
                        background: rgba(0, 0, 0, 0.2);
                        // opacity: 0;
                        transition: all 0.4s;
                        z-index: 2;
                        opacity: 1;
                    }
                    .info-post {
                        position: absolute;
                        top: 0;
                        left: 0rem;
                        right: 0;
                        bottom: 20rem;
                        z-index: 1;
                        -webkit-transition: all 0.4s;
                        transition: all 0.4s;
                        // opacity: 1;
                        z-index: 3;
                        opacity: 1;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
                        flex-direction: column;
                        transition: all 0.4s;
                        &__readmore {
                            margin: 20rem 30rem;
                            background: #0f7ce5;
                            color: #fff;
                            padding: 14rem 22rem;
                            text-transform: uppercase;
                            letter-spacing: 3rem;
                            font-size: 12rem;
                            position: relative;
                            // opacity: 0;
                            transition: all .5s;
                            &::after {
                                position: absolute;
                                content: '';
                                top: 5rem;
                                right: 5rem;
                                bottom: 5rem;
                                left: 5rem;
                                border: 1px solid #fff;
                            }
                            img {
                                width: 9rem;
                                height: 9rem;
                                margin-left: 8rem;
                                object-fit: contain;
                            }
                        }
                        .cat {
                            font-size: 20rem;
                            text-transform: uppercase;
                            font-weight: 800;
                            color: #fff;
                            letter-spacing: 27rem;
                            padding-left: 30rem;
                            @media(max-width: 768px) {
                                font-size: 15rem;
                                letter-spacing: 19rem;
                            }
                        }
                        .cat:after {
                            content: '';
                            width: 130rem;
                            height: 3rem;
                            background: #fff;
                            display: block;
                            left: -30rem;
                            position: relative;
                            margin-top: 10rem;
                        }
                        h3.title {
                            font-size: 22rem;
                            padding: 0 30rem;
                            font-weight: 800;
                            color: #000;
                            letter-spacing: 1rem;
                            color: #fff;
                            text-transform: uppercase;
                            line-height: 29rem;
                            @media(max-width: 768px) {
                                font-size: 20rem;
                            }
                            @media(max-width: 640px) {
                                font-size: 16rem;
                                line-height: 24rem;
                            }
                        }
                        .author {
                            font-size: 12rem;
                            letter-spacing: 8rem;
                            color: #000;
                            background: #fff;
                            display: inline-block;
                            padding: 6rem;
                            font-weight: 600;
                            position: relative;
                            left: 30rem;
                            margin: 17rem 0 10rem;
                            @media(min-width: 992px) and (max-width: 1500px) {
                                font-size: 16rem;
                            }
                        }
                    }
                }
            }
        }
        
        body.search {
            .articles-header .header h1 {
                font-size: 20rem;
                letter-spacing: 7rem;
                @media(min-width: 768px) {
                    font-size: 25rem;
                }
                // @media(min-width: 992px) {
                //     font-size: 90rem;
                // }
                @media(min-width: 1024px) {
                    font-size: 35rem;
                    letter-spacing: 20rem;
                }
            }
            .results h2 {
                text-align: center;
                color: #fff;
                @media(max-width: 991px) {
                    font-size: 19rem;
                }
            }
            .no-results h3 {
                margin: 0 0 40rem;
                color: #fff;
                font-size: 20rem;
                display: block;
                text-align: center;
                width: 100%;
            }
            .no-results {
                width: 100%;
            }
        }
        
        body.tax-kategorie {
            // .articles-header .header h1 {
            //     font-size: 50rem;
            //     letter-spacing: 20rem;
            // }
            .results h2 {
                text-align: center;
                color: #fff;
                @media(max-width: 991px) {
                    font-size: 19rem;
                }
            }
            .no-results h3 {
                margin: 0 0 40rem;
                color: #fff;
                font-size: 20rem;
                display: block;
                text-align: center;
                width: 100%;
            }
            .no-results {
                width: 100%;
            }
        }