                        header#hamburger {
                            // background-color: $white;
                            // box-shadow: 0 0 20px #00000030;
                            z-index: 999;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            padding: 50rem 0;
                            position: fixed;
                            background: transparent;
                            transition: all .5s;
                            &.scrollheader {
                                background: #000;
                                transition: all .5s;
                            }
                            @media(max-width: 1199px) {
                                padding: 25rem 0;
                            }
                            .row {
                                justify-content: space-between;
                                position: relative;
                            }
                            .logo {
                                margin-left: 20rem;
                                a {
                                    img {
                                        width: 161rem;
                                        height: auto;
                                        @media(min-width: 992px) {
                                            width: 250rem;
                                        }
                                    }
                                }
                            }
                            .navbar {
                                @media(max-width: 1023px) {
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    display: none;
                                    div#main-nav {
                                        position: fixed;
                                        left: 0;
                                        background: #000000f2;
                                        right: 0;
                                        padding: 20rem;
                                        top: 0;
                                        bottom: 0;
                                    }
                                }
                            }
                            .navbar-nav {
                                justify-content: space-between;
                                width: 100%;
                                @media(max-width: 1023px) {
                                    flex-direction: column;
                                    align-items: center;
                                }
                                @media(min-width: 1200px) {
                                    align-items: center;
                                }
                                li {
                                    margin-bottom: 5rem;
                                    @media(min-width: 1024px) and (max-width: 1199px) {
                                        margin-left: 35rem;
                                    }
                                    @media(min-width: 1200px) {
                                        margin-bottom: 0;
                                        margin-left: 35rem;
                                    }
                                    &.no-active.active {
                                        a {
                                            color: #fff;
                                            &:hover {
                                                color: $yellow;
                                            }
                                        }
                                    }
                                    &.active {
                                        a {
                                            color: $yellow;
                                            @media(max-width: 1023px) {
                                                //color: #000;
                                            }
                                            &:after {
                                                bottom: -4rem;
                                                opacity: 1;
                                            }
                                            &:before {
                                                top: -4rem;
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    a {
                                        color: #fff;
                                        text-transform: uppercase;
                                        font-size: 13.5rem;
                                        font-weight: 800;
                                        position: relative;
                                        transition: all 0.4s;
                                        @media(min-width: 1024px) and (max-width: 1199px) {
                                            font-size: 20rem;
                                        }
                                        @media(min-width: 1200px) and (max-width: 1500px) {
                                            font-size: 18rem;
                                        }
                                        @media(max-width: 1023px) {
                                            font-size: 4.5vh;
                                        }
                                        &:hover {
                                            color: $yellow;
                                            @media(max-width: 991px) {
                                                color: #F7AB19;
                                            }
                                            &:after {
                                                bottom: -4rem;
                                                opacity: 1;
                                            }
                                            &:before {
                                                top: -4rem;
                                                opacity: 1;
                                            }
                                        }
                                        &:after {
                                            content: '';
                                            width: 90%;
                                            height: 2rem;
                                            background-color: $yellow;
                                            position: absolute;
                                            bottom: -10rem;
                                            left: 0;
                                            right: 0;
                                            opacity: 0;
                                            transition: all 0.4s;
                                            @media(max-width: 1200px) {
                                                display: none;
                                            }
                                        }
                                        &:before {
                                            content: '';
                                            width: 90%;
                                            height: 2rem;
                                            background-color: $yellow;
                                            position: absolute;
                                            top: -10rem;
                                            left: 0;
                                            right: 0;
                                            opacity: 0;
                                            transition: all 0.4s;
                                            @media(max-width: 1200px) {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        // hamburger
                        #nav-icon3 {
                            width: 30rem;
                            height: 45rem;
                            position: absolute;
                            right: 20rem;
                            top: 3rem;
                            -webkit-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-transition: .5s ease-in-out;
                            -moz-transition: .5s ease-in-out;
                            -o-transition: .5s ease-in-out;
                            transition: .5s ease-in-out;
                            cursor: pointer;
                            z-index: 9;
                            @media(min-width: 1024px) {
                                display: none;
                            }
                        }
                        
                        #nav-icon3 span {
                            display: block;
                            position: absolute;
                            height: 3rem;
                            width: 100%;
                            background: #fff;
                            opacity: 1;
                            left: 0;
                            -webkit-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-transition: .25s ease-in-out;
                            -moz-transition: .25s ease-in-out;
                            -o-transition: .25s ease-in-out;
                            transition: .25s ease-in-out;
                        }
                        /* Icon 3 */
                        
                        #nav-icon3 span:nth-child(1) {
                            top: 0rem;
                        }
                        
                        #nav-icon3 span:nth-child(2),
                        #nav-icon3 span:nth-child(3) {
                            top: 9rem;
                        }
                        
                        #nav-icon3 span:nth-child(4) {
                            top: 18rem;
                        }
                        
                        #nav-icon3.open span:nth-child(1) {
                            top: 9rem;
                            width: 0%;
                            left: 50%;
                        }
                        
                        #nav-icon3.open span:nth-child(2) {
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                        
                        #nav-icon3.open span:nth-child(3) {
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }
                        
                        #nav-icon3.open span:nth-child(4) {
                            top: 9rem;
                            width: 0%;
                            left: 50%;
                        }