section {
    overflow: hidden;
    &.magazyn {
        padding: 60rem 0 120rem 0;
        background-color: #DBDADA;
        @media(max-width: 991px) {
            padding: 60rem 0 60rem 0;
        }
        @media(max-width: 767px) {
            padding: 20rem 0 60rem 0;
        }
        .swiper-slide__content {
            img {
                width: 1030rem;
                height: auto;
                margin-top: -10rem;
                margin-bottom: -140rem;
                @media(max-width: 991px) {
                    padding: 0 50rem;
                }
            }
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            @media(max-width: 991px) {
                flex-direction: column;
            }
            .left {
                span {
                    &.black {
                        font-size: 30rem;
                        text-align: right;
                        display: inline-block;
                        background: #000;
                        color: #fff;
                        font-weight: 800;
                        line-height: 32rem;
                        padding: 19rem;
                        width: 200rem;
                    }
                    &.yellow {
                        background: #e0a121;
                        font-size: 39rem;
                        color: #fff;
                        width: 110rem;
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        height: 95rem;
                        padding: 0 10rem 0 0;
                        div {
                            font-weight: 800;
                            font-size: 85rem;
                            position: relative;
                            top: 19rem;
                            margin-left: 10rem;
                        }
                    }
                }
                display: flex;
                flex-direction: column;
                width: 200rem;
                align-items: flex-end;
                position: relative;
                left: 44rem;
                top: 80rem;
                @media(max-width: 991px) {
                    align-items: center;
                    flex-direction: row;
                    top: 0;
                    left: 0;
                    margin-bottom: -70rem;
                }
                @media(max-width: 767px) {
                    transform: scale(.5);
                    margin-bottom: -8%;
                    margin-left: -5vw;
                    //margin-bottom: 0;
                }
            }
            .right {
                @media(max-width: 991px) {
                    text-align: center;
                    margin: 90rem 0 -50rem 0;
                }
                @media(max-width: 767px) {
                    transform: scale(.7);
                    //position: absolute;
                }
                @media(max-width: 567px) {
                    transform: scale(0.7) translateY(30rem);
                    //position: absolute;
                }
                @media(max-width: 467px) {
                    transform: scale(0.6) translateY(60rem);
                    //position: absolute;
                }
                .big {
                    font-size: 200rem;
                    color: #fff;
                    position: relative;
                    left: -40rem;
                    z-index: -1;
                    @media(max-width: 991px) {
                        font-size: 130rem;
                        left: 0;
                        display: none;
                    }
                }
                display: flex;
                flex-direction: column;
                margin-left: -35rem;
                margin-top: 160rem;
            }
            .cta {
                background: #0f7ce5;
                font-size: 16rem;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 10rem;
                padding: 23rem 14rem;
                display: inline-block;
                text-decoration: none;
                max-width: 440rem;
                text-align: center;
                position: relative;
                margin-left: -2rem;
                margin-top: 70rem;
                margin-bottom: -40rem;
                display: block;
                &:hover,
                &:active {
                    text-decoration: none;
                }
                img {
                    width: 12rem;
                    height: auto;
                    padding: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: transparent;
                    top: 0;
                    left: 0;
                    right: 0;
                    -webkit-transform: scaleX(0.96) scaleY(0.8);
                    transform: scaleX(0.96) scaleY(0.8);
                    border: 1px solid #fff;
                }
                @media(max-width: 991px) {
                    font-size: 10rem;
                    margin: 90rem 0 -60rem 0;
                    padding: 15rem;
                    letter-spacing: 6rem;
                }
            }
        }
        .swiper-arrows {
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            margin-top: 100rem;
            z-index: 99;
            .swiper-prev-magazyn {
                transform: rotate(180deg);
                img {
                    width: 44rem;
                    @media(max-width: 991px) {
                        width: 25rem;
                    }
                }
            }
            .swiper-next-magazyn img {
                width: 44rem;
                @media(max-width: 991px) {
                    width: 25rem;
                }
            }
            .swiper-prev-magazyn,
            .swiper-next-magazyn {
                margin: 0 30rem;
                cursor: pointer;
                @media(max-width: 991px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 30rem;
                }
                img {
                    filter: brightness(0) invert(0);
                    transition: all 0.5s;
                    &:hover {
                        filter: unset;
                    }
                }
            }
        }
    }
    &.articles {
        background: #282828;
        h2 {
            text-align: center;
            color: #fff;
            font-size: 25rem;
            letter-spacing: 10rem;
            font-weight: 300;
            margin-bottom: 20rem;
            margin-top: 0;
            padding-top: 25rem;
            strong {
                font-weight: 700;
            }
            @media(max-width: 640px) {
                font-size: 16rem;
            }
            @media(min-width: 992px) {
                font-size: 33rem;
                letter-spacing: 30rem;
                padding-left: 205rem;
            }
        }
        .articles-wrapper {
            display: flex;
            flex-wrap: wrap;
            a {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0rem;
                    right: 0rem;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.51);
                    opacity: 0;
                    transition: all 0.4s;
                    z-index: 2;
                    opacity: 1;
                    //background: rgba(0, 0, 0, 0.25);
                }
                &:hover {
                    .info-post {
                        opacity: 1;
                        top: -50rem;
                    }
                    &:before {
                        opacity: 1;
                        background: rgba(247, 171, 25, 0.54);
                    }
                }
                .info-post {
                    position: absolute;
                    top: 0;
                    left: 0rem;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    -webkit-transition: all 0.4s;
                    transition: all 0.4s;
                    opacity: 0;
                    z-index: 3;
                    opacity: 1;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    .cat {
                        font-size: 20rem;
                        text-transform: uppercase;
                        font-weight: 800;
                        color: #fff;
                        letter-spacing: 27rem;
                        padding-left: 30rem;
                        @media(max-width: 768px) {
                            font-size: 15rem;
                            letter-spacing: 19rem;
                        }
                    }
                    .cat:after {
                        content: '';
                        width: 130rem;
                        height: 3rem;
                        background: #fff;
                        display: block;
                        left: -30rem;
                        position: relative;
                        margin-top: 10rem;
                    }
                    h3.title {
                        font-size: 25rem;
                        padding: 0 30rem;
                        font-weight: 800;
                        color: #000;
                        letter-spacing: 1rem;
                        color: #fff;
                        @media(max-width: 768px) {
                            font-size: 20rem;
                        }
                    }
                    .author {
                        font-size: 12rem;
                        letter-spacing: 8rem;
                        color: #000;
                        background: #fff;
                        display: inline-block;
                        padding: 6rem;
                        font-weight: 600;
                        position: relative;
                        left: 30rem;
                        margin-top: 6rem;
                        @media(min-width: 992px) and (max-width: 1500px) {
                            font-size: 16rem;
                        }
                    }
                }
            }
            &__left {
                width: 40%;
                overflow: hidden;
                &:hover {
                    a img {
                        transition: all .5s;
                        transform: scale(1.1);
                    }
                    .info-post__readmore {
                        opacity: 1;
                        transition: all .5s;
                    }
                }
                .info-post {
                    @media(min-width: 992px) {
                        padding: 150rem;
                    }
                    &__readmore {
                        margin: 20rem 30rem;
                        background: #0f7ce5;
                        color: #fff;
                        padding: 14rem 22rem;
                        text-transform: uppercase;
                        letter-spacing: 3rem;
                        font-size: 12rem;
                        position: relative;
                        opacity: 0;
                        transition: all .5s;
                        &::after {
                            position: absolute;
                            content: '';
                            top: 5rem;
                            right: 5rem;
                            bottom: 5rem;
                            left: 5rem;
                            border: 1px solid #fff;
                        }
                        img {
                            width: 9rem;
                            height: 9rem;
                            margin-left: 8rem;
                            object-fit: contain;
                        }
                    }
                }
                @media(max-width: 991px) {
                    width: 100%;
                }
                a {
                    display: block;
                    height: 901rem;
                    @media(max-width: 991px) {
                        height: 400rem;
                    }
                    @media(max-width: 768px) {
                        width: 100%;
                        height: 350rem;
                    }
                    img {
                        width: 100%;
                        height: 901rem;
                        object-fit: cover;
                        object-position: center;
                        transition: all .5s;
                        transform: scale(1);
                        @media(max-width: 991px) {
                            height: 400rem;
                        }
                        @media(max-width: 768px) {
                            width: 100%;
                            height: 350rem;
                        }
                    }
                }
            }
            &__right {
                width: 60%;
                a {
                    &:hover {
                        .info-post {
                            &__readmore {
                                opacity: 1;
                                transition: all .5s;
                            }
                        }
                    }
                    .info-post {
                        &__readmore {
                            margin: 20rem 30rem;
                            background: #0f7ce5;
                            color: #fff;
                            padding: 14rem 22rem;
                            text-transform: uppercase;
                            letter-spacing: 3rem;
                            font-size: 12rem;
                            position: relative;
                            opacity: 0;
                            transition: all .5s;
                            &::after {
                                position: absolute;
                                content: '';
                                top: 5rem;
                                right: 5rem;
                                bottom: 5rem;
                                left: 5rem;
                                border: 1px solid #fff;
                            }
                            img {
                                width: 9rem;
                                height: 9rem;
                                margin-left: 8rem;
                                object-fit: contain;
                            }
                        }
                    }
                }
                @media(max-width: 991px) {
                    width: 100%;
                }
                &-top {
                    display: flex;
                    flex-wrap: wrap;
                    a {
                        display: block;
                        height: 450rem;
                        width: 50%;
                        overflow: hidden;
                        &:hover {
                            img {
                                transition: all .5s;
                                transform: scale(1.1);
                            }
                        }
                        @media(max-width: 768px) {
                            width: 100%;
                            height: 350rem;
                        }
                        img {
                            width: 100%;
                            height: 450rem;
                            object-fit: cover;
                            object-position: center;
                            transition: all .5s;
                            transform: scale(1);
                            @media(max-width: 768px) {
                                width: 100%;
                                height: 350rem;
                            }
                        }
                    }
                }
                &-bottom {
                    display: flex;
                    flex-wrap: wrap;
                    overflow: hidden;
                    a {
                        &:hover {
                            .info-post {
                                &__readmore {
                                    opacity: 1;
                                    transition: all .5s;
                                }
                            }
                        }
                        .info-post {
                            &__readmore {
                                margin: 20rem 30rem;
                                background: #0f7ce5;
                                color: #fff;
                                padding: 14rem 22rem;
                                text-transform: uppercase;
                                letter-spacing: 3rem;
                                font-size: 12rem;
                                position: relative;
                                opacity: 0;
                                transition: all .5s;
                                &::after {
                                    position: absolute;
                                    content: '';
                                    top: 5rem;
                                    right: 5rem;
                                    bottom: 5rem;
                                    left: 5rem;
                                    border: 1px solid #fff;
                                }
                                img {
                                    width: 9rem;
                                    height: 9rem;
                                    margin-left: 8rem;
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                    &:hover {
                        a img {
                            transition: all .5s;
                            transform: scale(1.1);
                        }
                    }
                    a {
                        display: block;
                        height: 450rem;
                        width: 100%;
                        @media(max-width: 768px) {
                            width: 100%;
                            height: 350rem;
                        }
                        img {
                            width: 100%;
                            height: 450rem;
                            object-fit: cover;
                            object-position: center;
                            transition: all .5s;
                            transform: scale(1);
                            @media(max-width: 768px) {
                                width: 100%;
                                height: 350rem;
                            }
                        }
                    }
                }
            }
        }
    }
    &.newsletter {
        background: url('/wp-content/uploads/2022/01/background-1.jpg');
        padding: 70rem 0 70rem;
        background-size: cover;
        background-position: 50% 50%;
        p.oi {
            // font-size: 13rem;
            // color: #838383;
            // max-width: 1120rem;
            // margin: 20rem auto 0 auto;
            // text-align: justify;
            // width: 100%;
            font-size: 10rem;
            color: #fff;
            max-width: 1120rem;
            margin: 20rem auto 0 auto;
            text-align: justify;
            width: 100%;
            background: #000;
            font-weight: 600;
            padding: 3rem;
            span.wpcf7-list-item-label {
                position: relative;
            }
            span.wpcf7-list-item-label:before {
                content: '';
                width: 18rem;
                height: 18rem;
                background: #fff;
                position: absolute;
                bottom: -26rem;
                @media(max-width: 991px) {
                    left: -12rem;
                }
            }
            span.wpcf7-list-item-label:after {
                content: '';
                background: url(https://magazyndigital.pl/wp-content/uploads/2022/01/xxxx.png);
                width: 10rem;
                height: 10rem;
                position: absolute;
                bottom: -22rem;
                filter: brightness(0);
                left: 3rem;
                background-size: cover;
                opacity: 0;
                @media(max-width: 991px) {
                    left: -9rem;
                }
            }
            input {
                position: absolute;
                opacity: 0;
                &:checked~span:after {
                    opacity: 1;
                }
            }
        }
        h2 {
            color: #fff;
            font-size: 50rem;
            letter-spacing: 35rem;
            text-transform: uppercase;
            text-align: center;
            @media(max-width: 991px) {
                font-size: 30rem;
                letter-spacing: 20rem;
            }
            @media(max-width: 640px) {
                font-size: 16rem;
            }
            span {
                color: #E91414;
                font-size: 30rem;
                display: flex;
                align-items: center;
                justify-content: center;
                letter-spacing: 12rem;
                @media(max-width: 991px) {
                    font-size: 15rem;
                    letter-spacing: 3rem;
                    margin-top: 10rem;
                }
                &:before {
                    content: '';
                    width: 122rem;
                    height: 3rem;
                    background: #f7ab19;
                    display: block;
                    margin-right: 30rem;
                }
            }
        }
        .form-content {
            .form {
                margin-top: 50rem;
                display: flex;
                justify-content: center;
                input {
                    height: 75rem;
                }
                flex-direction: column;
                @media(min-width: 992px) {
                    flex-direction: row;
                }
                input[type='email'] {
                    background: rgba(255, 255, 255, 0.6);
                    color: #000;
                    font-weight: 700;
                    font-size: 18rem;
                    text-indent: 30rem;
                    border: 0;
                    width: 100%;
                    @media(min-width: 992px) {
                        width: 1000rem;
                    }
                    @media(min-width: 992px) {
                        font-size: 24rem;
                    }
                    &::placeholder {
                        color: #000;
                        font-weight: 700;
                        font-size: 18rem;
                        @media(min-width: 992px) {
                            font-size: 24rem;
                        }
                    }
                }
                .btn-primary {
                    width: 200rem;
                    background-color: #0f7ce5;
                    border: 0;
                    color: #fff;
                    font-size: 16rem;
                    letter-spacing: 8rem;
                    text-transform: uppercase;
                    text-indent: 0;
                    padding: 0;
                    @media(min-width: 992px) {
                        width: 185rem;
                        font-size: 20rem;
                    }
                    @media(max-width: 991px) {
                        margin: 0 0 0 auto;
                    }
                }
                span.wpcf7-spinner {
                    display: none;
                }
            }
            .wpcf7-response-output {
                max-width: 680rem;
                position: relative;
                font-size: 13rem;
                color: #fff;
                margin: 30rem auto 0 !important;
                padding: 20px !important;
                background: #e91414;
                border: 0 !important;
            }
            .wpcf7 form.sent .wpcf7-response-output {
                background: #46bb46 !important;
            }
        }
    }
    &.news {
        h2 {
            color: #000;
            font-size: 25rem;
            letter-spacing: 10rem;
            font-weight: 400;
            margin-bottom: 20rem;
            @media(min-width: 992px) {
                font-size: 33rem;
                letter-spacing: 20rem;
            }
            @media(max-width: 640px) {
                font-size: 16rem;
            }
        }
        .swiper-pagination {
            bottom: 45rem !important;
        }
        .swiper-pagination span {
            width: 32rem;
            height: 8rem;
            border-radius: 0;
            background: #fff;
            opacity: 1;
        }
        span.swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: #f7ab19;
        }
        .swiper-pagination:before {
            content: '';
            width: 117rem;
            height: 58rem;
            background: #000;
            display: block;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: -33rem;
            z-index: -1;
        }
        .swiper-slide {
            height: 740rem;
            @media(max-width: 640px) {
                height: 140vw;
            }
            a {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    width: calc(100% + 20rem);
                    height: calc(100% + 20rem);
                    margin: 0rem;
                    object-fit: cover;
                    object-position: center;
                    transition: all 2s;
                }
                &:hover {
                    img {
                        height: 110%;
                    }
                    .title {
                        opacity: 1;
                        left: 80rem;
                        &__readmore {
                            opacity: 1;
                            transition: all .5s;
                        }
                        @media(max-width: 640px) {
                            left: 9%;
                        }
                    }
                    &:before {
                        opacity: 1;
                        transition: all 0.4s;
                        background: rgba(247, 171, 25, 0.54);
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0rem;
                    right: 0rem;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.51);
                    opacity: 1;
                    transition: all 0.4s;
                }
                .title {
                    position: absolute;
                    top: 50%;
                    left: 30rem;
                    z-index: 1;
                    opacity: 1;
                    transition: all 0.4s;
                    transform: translate(0, -50%);
                    &__readmore {
                        position: absolute;
                        display: block;
                        margin: 25rem 0 0 0;
                        background: #0f7ce5;
                        color: #fff;
                        padding: 14rem 22rem;
                        text-transform: uppercase;
                        letter-spacing: 3rem;
                        font-size: 12rem;
                        opacity: 0;
                        transition: all .5s;
                        img {
                            width: 9rem;
                            height: 9rem;
                            margin-left: 8rem;
                            object-fit: cover;
                            object-position: center;
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            top: 5rem;
                            right: 5rem;
                            bottom: 5rem;
                            left: 5rem;
                            border: 1px solid #fff;
                        }
                    }
                    @media(max-width:991px) {
                        opacity: 1;
                        top: 33%;
                    }
                    h3 {
                        color: #fff;
                        font-size: 24rem;
                        max-width: 270rem;
                        display: block;
                        font-weight: 800;
                        letter-spacing: 3rem;
                        line-height: 31rem;
                    }
                    &:after {
                        content: '';
                        width: 138rem;
                        height: 6rem;
                        background-color: #fff;
                        display: block;
                        margin-top: 10rem;
                        display: block;
                    }
                }
            }
        }
    }
    &.education {
        background: url('/wp-content/uploads/2022/01/background.jpg');
        padding: 20rem 0 70rem;
        background-size: cover;
        background-position: 50% 50%;
        h2 {
            color: $white;
            font-size: 25rem;
            letter-spacing: 10rem;
            font-weight: 400;
            margin-bottom: 35rem;
            @media(min-width: 992px) {
                font-size: 33rem;
                letter-spacing: 20rem;
            }
            @media(max-width: 640px) {
                font-size: 16rem;
            }
            span {
                color: $yellow;
            }
        }
        .single {
            @media(max-width: 991px) {
                margin-bottom: 30rem;
            }
            .single-content {
                position: relative;
                @media(min-width: 992px) {
                    padding: 0 40rem;
                }
                img {
                    width: 100%;
                    height: auto;
                    box-shadow: 0 0 30rem 0 rgba(0, 0, 0, 0.7);
                }
                .cta {
                    display: inline-block;
                    color: #fff;
                    font-size: 18rem;
                    padding: 12rem 20rem;
                    letter-spacing: 6rem;
                    text-transform: uppercase;
                    background-color: #0f7ce5;
                    position: absolute;
                    bottom: 80rem;
                    right: 40rem;
                    @media(max-width: 991px) {
                        right: 0;
                        bottom: 30rem;
                    }
                    img {
                        // margin-left: 12rem;
                        width: 15rem;
                        height: auto;
                    }
                }
            }
        }
    }
    &.people {
        padding: 20rem 0 70rem;
        background-color: #161719;
        .mySwiperppl {
            width: 100%;
            height: 900rem;
            margin-left: auto;
            margin-right: auto;
            @media(max-width: 991px) {
                height: 90vw;
            }
            @media(max-width:479px) {
                height: 180vw;
            }
            & .swiper-slide {
                text-align: center;
                font-size: 18rem;
                height: calc((100% - 30px) / 2) !important;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                .single {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .cta {
            background: #0f7ce5;
            font-size: 16rem;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 5rem;
            padding: 15rem 34rem;
            display: inline-block;
            text-decoration: none;
            text-align: center;
            box-shadow: 10rem 11rem 15rem 0rem rgba(0, 0, 0, 0.3);
            position: relative;
            margin-top: 50rem;
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background: transparent;
                top: 0;
                left: 0;
                right: 0;
                transform: scaleX(0.96) scaleY(0.8);
                border: 1px solid #fff;
            }
            &:hover,
            &:active {
                text-decoration: none;
            }
            img {
                width: 12rem;
                height: auto;
                padding: 0;
            }
        }
        h2 {
            color: $white;
            font-size: 25rem;
            letter-spacing: 10rem;
            font-weight: 400;
            margin-bottom: 35rem;
            @media(min-width: 992px) {
                font-size: 33rem;
                letter-spacing: 20rem;
            }
            @media(max-width: 640px) {
                font-size: 16rem;
            }
            span {
                color: $yellow;
            }
        }
        .single {
            .single-person {
                position: relative;
                @media(max-width: 991px) {
                    margin-bottom: 30rem;
                }
                @media(min-width: 992px) {
                    padding: 0 40rem;
                }
                &:hover {
                    .name {
                        opacity: 1;
                        left: 66rem;
                        @media(max-width: 640px) {
                            left: 9%;
                        }
                    }
                    &:before {
                        opacity: 1;
                    }
                    &:after {
                        background-color: $white;
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 40rem;
                    right: 40rem;
                    bottom: 0;
                    background: rgba(247, 171, 25, 0.54);
                    opacity: 0;
                    transition: all 0.4s;
                    @media(max-width: 991px) {
                        left: 0;
                        right: 0;
                        opacity: 1;
                        background: rgba(0, 0, 0, 0.51);
                    }
                }
                &:after {
                    content: '';
                    background-color: $yellow;
                    width: 317rem;
                    height: 37rem;
                    position: absolute;
                    bottom: 30rem;
                    right: -30rem;
                    transition: all 0.4s;
                    @media(max-width: 680px) {
                        right: 0;
                        width: 85%;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                }
                .name {
                    font-size: 36rem;
                    max-width: 220rem;
                    color: #fff;
                    position: absolute;
                    bottom: 80rem;
                    left: 30rem;
                    line-height: 43rem;
                    letter-spacing: 7rem;
                    transition: all 0.4s;
                    opacity: 0;
                    text-align: left;
                    @media(max-width: 991px) {
                        //color: #000;
                        opacity: 1;
                        font-size: 18rem;
                        line-height: 27rem;
                        letter-spacing: 3rem;
                    }
                }
            }
        }
        .swiper-arrows {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 50rem 0 30rem 0;
            .swiper-next-person {
                margin: 0 30rem;
                filter: brightness(99999);
                cursor: pointer;
                &:hover {
                    filter: brightness(1);
                }
            }
            .swiper-prev-person {
                transform: rotate(180deg);
                margin: 0 30rem;
                filter: brightness(99999);
                cursor: pointer;
                &:hover {
                    filter: brightness(1);
                }
            }
        }
    }
    &.partners {
        padding: 20rem 0 0rem;
        background-color: #161719;
        h2 {
            color: $white;
            font-size: 25rem;
            letter-spacing: 10rem;
            font-weight: 400;
            margin-bottom: 35rem;
            @media(min-width: 992px) {
                font-size: 33rem;
                letter-spacing: 20rem;
            }
            @media(max-width: 640px) {
                font-size: 16rem;
            }
            span {
                color: $yellow;
            }
        }
        .partners-carousel {
            background-color: $yellow;
            padding: 35rem 0;
            .swiper {
                .swiper-wrapper {
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                }
                .swiper-slide {
                    .logo-holder {
                        height: 80rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 130rem;
                            height: auto;
                            @media(max-width: 640px) {
                                width: 90rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    background: url('/wp-content/uploads/2022/01/Prostokat-38.jpg');
    padding: 70rem 0 70rem;
    background-size: cover;
    background-position: 50% 50%;
    overflow-x: hidden;
    .text-kontakt {
        width: 600rem;
        margin-bottom: 50rem;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
        // @media(max-width: 992px) {
        //     max-width: 400rem;
        // }
        @media(max-width: 991px) {
            max-width: 370rem;
        }
        @media(max-width: 640px) {
            max-width: 210rem;
        }
    }
    .footer-contact {
        position: relative;
        background: rgba(22, 23, 25, 0.86);
        padding: 30rem;
        &:before {
            @media(min-width: 992px) {
                content: '';
                width: 900rem;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -900rem;
                background: rgba(22, 23, 25, 0.86);
            }
        }
        @media(min-width: 992px) {
            padding: 50px 80px 50rem;
        }
        .logo-footer {
            img {
                width: 303rem;
                height: auto;
                @media(max-width: 640px) {
                    max-width: 210rem;
                }
            }
        }
        .name {
            font-size: 18rem;
            letter-spacing: 8rem;
            font-weight: 700;
            text-transform: uppercase;
            margin: 50rem 0 -11rem 0;
            color: $yellow;
            @media(min-width: 768px) {
                font-size: 30rem;
                letter-spacing: 12rem;
            }
        }
        .place {
            font-size: 14rem;
            font-weight: 300;
            color: #F7AB19;
            margin: 12px 0 50rem 0;
            letter-spacing: 7rem;
            @media(min-width: 768px) {
                font-size: 30rem;
                margin: 0 0 50rem 0;
                letter-spacing: 11rem;
            }
        }
        .magazyn {
            color: #fff;
            font-weight: 800;
            font-size: 17rem;
            padding: 20rem 0 16rem;
            margin-bottom: -20rem;
            letter-spacing: 6rem;
        }
        .yellow {
            color: $yellow;
            font-size: 18rem;
            letter-spacing: 5rem;
            line-height: 32rem;
            @media(max-width: 991px) {
                font-size: 16rem;
                letter-spacing: 2rem;
                line-height: 26rem;
            }
        }
        .mail {
            color: #fff;
            font-size: 17rem;
            font-weight: 700;
            letter-spacing: 5rem;
            line-height: 37rem;
            @media(max-width: 991px) {
                font-size: 16rem;
                line-height: 29rem;
                letter-spacing: 1rem;
            }
            a {
                color: #fff;
                font-size: 17rem;
                font-weight: 700;
                // letter-spacing: 5rem;
                @media(max-width: 991px) {
                    font-size: 16rem;
                }
            }
        }
    }
}

.swiper-button-disabled {
    opacity: 0.4;
}