.kup-magazyn {
    .hero {
        height: 500rem;
        background: url(/wp-content/uploads/2022/02/bg-kup-magazyn.png);
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        @media(max-width: 640px) {
            height: 370rem;
        }
        @media(min-width: 768px) {
            height: 730rem;
        }
        @media(min-width: 992px) {
            height: 1079rem;
        }
        h1 {
            color: #fff;
            font-size: 40rem;
            font-weight: 800;
            text-transform: uppercase;
            @media(min-width: 768px) {
                font-size: 80rem;
                letter-spacing: 5rem;
            }
            @media(min-width: 991px) {
                font-size: 150rem;
                letter-spacing: 10rem;
            }
            span {
                color: #f7ab19;
            }
        }
    }
    .buy-section {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        @media(max-width: 991px) {
            flex-direction: column;
        }
        &__left {
            width: 50%;
            position: relative;
            background: #000;
            transition: all .1s;
            @media(max-width: 991px) {
                width: 100%;
                height: 520rem;
            }
            &:hover {
                background: #f7ab19;
                .buy-section__left--title1 {
                    span {
                        color: #000;
                    }
                }
                .buy-section__left--cta1 {
                    opacity: 1;
                    transition: all .5s;
                    cursor: pointer;
                }
            }
            &--title1 {
                font-size: 41rem;
                line-height: 66rem;
                font-weight: 600;
                letter-spacing: 9rem;
                position: absolute;
                left: 100rem;
                top: 260rem;
                right: 0rem;
                bottom: 0;
                display: block;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                z-index: 3;
                @media(max-width: 991px) {
                    font-size: 21rem;
                    line-height: 34rem;
                    font-weight: 600;
                    letter-spacing: 9rem;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    right: 0;
                    bottom: unset;
                    display: block;
                    text-transform: uppercase;
                    text-align: center;
                    color: #fff;
                    z-index: 1;
                    transform: translate(0, -50%);
                }
                span {
                    color: #f7ab19;
                    font-weight: 900;
                    transition: all .5s;
                }
            }
            &--title2 {
                font-size: 21rem;
                line-height: 26rem;
                font-weight: 600;
                letter-spacing: 4rem;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                z-index: 6;
                background: #00000080;
                padding: 70rem 150rem 0 240rem;
                display: none;
                @media(max-width: 991px) {
                    padding: 30rem 15rem;
                    font-size: 13rem;
                    line-height: 18rem;
                }
                p {
                    margin-bottom: 24rem;
                }
                span {
                    color: #f7ab19;
                    font-weight: 900;
                    transition: all .5s;
                }
                span.cena {
                    color: #fff;
                    font-size: 41rem;
                    font-weight: 600;
                    letter-spacing: 10rem;
                    margin-top: 35rem;
                    display: block;
                    @media(max-width: 991px) {
                        font-size: 24rem;
                        font-weight: 600;
                        letter-spacing: 7rem;
                    }
                    strong {
                        font-weight: 900;
                    }
                }
            }
            &--cta1,
            &--cta2 {
                position: absolute;
                font-size: 30rem;
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 7rem;
                z-index: 4;
                background: #ff0824;
                padding: 0rem 10rem;
                display: inline-block;
                margin: 0 auto;
                left: 90rem;
                right: 0rem;
                width: 215rem;
                text-align: center;
                font-weight: 500;
                bottom: 138rem;
                opacity: 0;
                transition: all .5;
                @media(max-width: 991px) {
                    right: 0;
                    bottom: 50rem;
                    left: 0;
                }
                @media(max-width: 991px) {
                    font-size: 16rem;
                    width: 200rem;
                    text-indent: 7rem;
                    height: 36rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
            &--cta2 {
                opacity: 1;
                width: 270rem;
                padding: 10rem;
                bottom: 65rem;
                cursor: pointer;
                @media(max-width: 991px) {
                    font-size: 16rem;
                    width: 200rem;
                    text-indent: 7rem;
                    height: 36rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            img {
                width: 100%;
                height: 100%;
                transition: all .5s;
                mix-blend-mode: difference;
                @media(max-width: 992px) {
                    object-fit: cover;
                    object-position: calc(50% - 35rem);
                    transform: scale(1.1);
                }
            }
        }
        &__right {
            width: 50%;
            position: relative;
            background: #858585;
            transition: all .1s;
            @media(max-width: 991px) {
                width: 100%;
                height: 520rem;
            }
            &:hover {
                background: #f7ab19;
                .buy-section__right--cta1 {
                    opacity: 1;
                    transition: all .5s;
                    cursor: pointer;
                }
            }
            /*
            &::after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: #f7ab19;
                mix-blend-mode: hard-light;
                opacity: 0;
                transition: all .5s;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }
*/
            &--title1 {
                font-size: 41rem;
                line-height: 66rem;
                font-weight: 600;
                letter-spacing: 9rem;
                position: absolute;
                left: 0;
                top: 195rem;
                right: 62rem;
                bottom: 0;
                display: block;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                z-index: 3;
                @media(max-width: 991px) {
                    font-size: 21rem;
                    line-height: 34rem;
                    font-weight: 600;
                    letter-spacing: 9rem;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    right: 0;
                    bottom: unset;
                    display: block;
                    text-transform: uppercase;
                    text-align: center;
                    color: #fff;
                    z-index: 1;
                    transform: translate(0, -50%);
                }
                p {
                    margin-bottom: 24rem;
                }
                span {
                    color: #f7ab19;
                    font-weight: 900;
                }
            }
            &--title2 {
                font-size: 21rem;
                line-height: 26rem;
                font-weight: 600;
                letter-spacing: 4rem;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                z-index: 6;
                background: #000000bf;
                padding: 280rem 220rem 0 150rem;
                display: none;
                @media(max-width: 991px) {
                    padding: 30rem 15rem;
                    font-size: 13rem;
                    line-height: 18rem;
                }
                span {
                    color: #f7ab19;
                    font-weight: 900;
                    transition: all .5s;
                }
                span.cena {
                    color: #fff;
                    font-size: 41rem;
                    font-weight: 600;
                    letter-spacing: 10rem;
                    margin-top: 75rem;
                    display: block;
                    @media(max-width: 991px) {
                        font-size: 24rem;
                        font-weight: 600;
                        letter-spacing: 7rem;
                    }
                    strong {
                        font-weight: 900;
                    }
                }
            }
            &--cta1,
            &--cta2 {
                position: absolute;
                font-size: 30rem;
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 7rem;
                z-index: 4;
                background: #ff0824;
                padding: 0rem 10rem;
                display: inline-block;
                margin: 0 auto;
                left: 0;
                right: 80rem;
                width: 215rem;
                text-align: center;
                font-weight: 500;
                bottom: 138rem;
                opacity: 0;
                transition: all .5s;
                @media(max-width: 991px) {
                    right: 0;
                    bottom: 50rem;
                }
                @media(max-width: 991px) {
                    font-size: 16rem;
                    width: 200rem;
                    text-indent: 7rem;
                    height: 36rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
            &--cta2 {
                opacity: 1;
                width: 270rem;
                padding: 10rem;
                bottom: 65rem;
                cursor: pointer;
                @media(max-width: 991px) {
                    font-size: 16rem;
                    width: 200rem;
                    text-indent: 7rem;
                    height: 36rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            img {
                width: 100%;
                height: 100%;
                transition: all .5s;
                mix-blend-mode: hard-light;
                @media(max-width: 992px) {
                    object-fit: cover;
                    object-position: calc(50% + 30rem);
                    transform: scale(1.1);
                }
            }
        }
    }
    .buy-section__left,
    .buy-section__right {
        @media(max-width: 991px) {
            overflow: hidden;
        }
    }
    .selected-articles {
        background: url('https://magazyndigital.pl/wp-content/uploads/2022/02/articles-bg.jpg');
        padding: 135rem 0;
        background-size: cover;
        background-position: center center;
        @media(max-width: 768px) {
            padding: 60rem 0;
        }
        .selected-articles__content {
            background: rgba(0, 0, 0, 0.72);
            max-width: 1590rem;
            margin: 0 auto;
            padding: 55rem 130rem;
            @media(max-width: 991px) {
                padding: 30rem 30rem 55rem;
                margin: 0 15rem;
            }
            h2 {
                font-size: 50rem;
                text-transform: uppercase;
                font-weight: 800;
                display: inline-block;
                margin-bottom: 70rem;
                letter-spacing: 7rem;
                padding: 1rem 60rem 1rem 16rem;
                margin-top: 0;
                background-color: #f7ab19;
                color: #000;
                @media(max-width: 991px) {
                    font-size: 40rem;
                }
                @media(max-width:768px) {
                    font-size: 25rem;
                }
            }
            .selected-aricles__content-loop {
                display: flex;
                flex-direction: column;
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 33rem;
                    display: inline-block;
                    margin-bottom: 50rem;
                    font-weight: 500;
                    transition: all .2s;
                    text-decoration: underline;
                    text-underline-offset: 9rem;
                    text-decoration-thickness: 6rem;
                    text-decoration-color: transparent;
                    @media(max-width: 991px) {
                        font-size: 23rem;
                        margin-bottom: 30rem;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:hover {
                        font-weight: 700;
                        text-decoration-color: #f7ab19;
                    }
                }
            }
        }
    }
    .why-learning {
        background-color: #000;
        padding: 110rem 0;
        @media(max-width: 768px) {
            padding: 60rem 0;
        }
        .why-learning__content {
            max-width: 1410rem;
            margin: 0 auto;
            padding: 0 15rem;
            position: relative;
            &-right {
                @media(max-width: 991px) {
                    display: none;
                }
                img {
                    position: absolute;
                    right: -100rem;
                    bottom: -60rem;
                    width: 500rem;
                    height: auto;
                    mix-blend-mode: luminosity;
                }
            }
            &-left {
                max-width: 965rem;
                h2 {
                    font-size: 50rem;
                    text-transform: uppercase;
                    font-weight: 800;
                    display: inline-block;
                    margin-bottom: 70rem;
                    letter-spacing: 7rem;
                    padding: 1rem 60rem 1rem 16rem;
                    margin-top: 0;
                    color: #fff;
                    @media(max-width: 991px) {
                        font-size: 40rem;
                    }
                    @media(max-width:768px) {
                        font-size: 25rem;
                    }
                    span {
                        color: #f7ab19;
                        font-weight: 500;
                    }
                }
                ul {
                    li {
                        list-style-type: none;
                        color: #fff;
                        font-weight: 500;
                        font-size: 33rem;
                        margin-bottom: 50rem;
                        position: relative;
                        @media(max-width: 991px) {
                            font-size: 23rem;
                        }
                        &:before {
                            content: '';
                            width: 20rem;
                            height: 23rem;
                            background: #f7ab19;
                            position: absolute;
                            top: 11rem;
                            left: -30rem;
                            @media(max-width: 991px) {
                                top: 5rem;
                            }
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    &__form-prenumerata {
        font-size: 17rem;
        position: fixed;
        z-index: 999;
        background: #000000d9;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        overflow-y: scroll;
        .form-zamow-body-close {
            position: absolute;
            top: 10rem;
            right: 10rem;
            background: #fff;
            width: 20rem;
            height: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .form-zamow-body {
            position: relative;
        }
        .form-zamow-body-close img {
            filter: brightness(0);
            width: 12rem;
        }
        .kup-magazyn__form--prenumerata {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 60rem 15rem;
            @media(max-width: 991px) {
                width: 100%;
            }
        }
        .form-zamow-body {
            background: #f7ab19;
            width: 725rem;
            padding: 24rem 24rem 3rem;
            @media(max-width: 991px) {
                width: 100%;
            }
            h2.form-zamow-body-h2 {
                font-size: 33rem;
                color: #3b3b3b;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 4rem;
                padding: 0 28rem;
                margin-top: 22rem;
                @media(max-width: 768px) {
                    padding: 0;
                    font-size: 23rem;
                }
            }
            label {
                width: 100%;
                font-size: 17rem;
                text-transform: uppercase;
                color: #3b3b3b;
                text-indent: 30rem;
                padding: 6px 0;
                letter-spacing: 4rem;
                font-weight: 500;
                .smalled {
                    font-size: 12.5rem;
                    letter-spacing: 2rem;
                    font-weight: 500;
                }
                .wpcf7-form-control-wrap {
                    display: block;
                    position: relative;
                }
                .wpcf7-form-control-wrap:before {
                    content: '';
                    width: 3rem;
                    height: 15rem;
                    background: #e91414;
                    display: block;
                    position: absolute;
                    top: 16rem;
                    left: 15rem;
                }
            }
            input {
                height: 48rem;
                width: 100%;
                font-size: 17rem;
                border: 0;
                margin-top: 8rem;
                text-indent: 30rem;
                letter-spacing: 3rem;
                &::placeholder {
                    color: #e91414;
                    font-size: 17rem;
                    text-indent: 30rem;
                    text-transform: uppercase;
                    letter-spacing: 4rem;
                }
            }
            // h2.form-zamow-body-h2 {
            //     font-size: 33rem;
            //     color: #3b3b3b;
            //     text-transform: uppercase;
            //     font-weight: 700;
            //     letter-spacing: 2rem;
            // }
        }
        .form-zamow-footer {
            background: #3b3b3b;
            width: 725rem;
            padding: 30rem 25rem 0;
            @media(max-width: 991px) {
                width: 100%;
            }
            // input {
            //     font-size: 17rem;
            // }
            span.wpcf7-list-item {
                color: #fff;
                font-size: 15rem;
                letter-spacing: 1.5rem;
                input {
                    opacity: 0;
                    position: absolute;
                    &:checked~span:after {
                        opacity: 1;
                    }
                }
                span {
                    position: relative;
                    padding-left: 23rem;
                    &:after {
                        position: absolute;
                        content: '';
                        background: url(/wp-content/uploads/2022/01/xxxx.png) center center no-repeat;
                        background-size: contain;
                        width: 16rem;
                        height: 16rem;
                        left: -15rem;
                        top: 3rem;
                        opacity: 0;
                    }
                    &:before {
                        content: '';
                        width: 19rem;
                        height: 19rem;
                        background-color: #f0a718;
                        position: absolute;
                        top: 1rem;
                        left: -16rem;
                    }
                }
            }
            span.wpcf7-list-item a {
                text-decoration: underline;
                color: #fff;
                font-weight: 700;
            }
            input.wpcf7-form-control.has-spinner.wpcf7-submit.btn.btn-primary {
                background: #e91414;
                border: 0;
                font-size: 17.5rem;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 10rem;
                width: 178rem;
                height: 48rem;
                padding-left: 10rem;
                display: block;
                margin-top: 30rem;
                margin-left: 39rem;
            }
        }
        span.wpcf7-not-valid-tip {
            font-size: 13rem;
            margin-top: 10rem;
            letter-spacing: 2rem;
            background: #dc3232;
            color: #fff;
            padding: 10rem;
            // margin: 0;
            text-indent: 0;
        }
        .wpcf7-response-output {
            max-width: 725rem;
            margin: 10rem 0 0 !important;
            background: #3b3b3b;
            border-color: #fff !important;
            color: #fff;
            font-size: 15rem;
            padding: 10rem !important;
            @media(max-width: 991px) {
                width: 100%;
            }
        }
    }
    &__form-prenumerata2 {
        font-size: 17rem;
        position: fixed;
        z-index: 999;
        background: #000000d9;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        overflow-y: scroll;
        .form-zamow-body-close {
            position: absolute;
            top: 10rem;
            right: 10rem;
            background: #fff;
            width: 20rem;
            height: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .form-zamow-body {
            position: relative;
        }
        .form-zamow-body-close img {
            filter: brightness(0);
            width: 12rem;
        }
        .form-zamow-body-radio .wpcf7-list-item input {
            position: absolute;
            opacity: 0;
        }
        .form-zamow-body-radio span.wpcf7-list-item.last label span,
        .form-zamow-body-radio span.wpcf7-list-item.first label span {
            position: relative;
            font-family: 'Baron Neue';
            /* text-align: center; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 37rem;
            font-weight: 900;
            color: #000;
            letter-spacing: 1rem;
            text-indent: 0;
            text-align: center;
            position: relative;
            z-index: 1;
        }
        .form-zamow-body-radio span.wpcf7-list-item.first label span:before {
            content: '';
            background: url('https://magazyndigital.pl/wp-content/uploads/2022/02/01_21.png');
            width: 182rem;
            height: 255rem;
            display: block;
            background-size: contain;
            /* position: relative; */
            top: 0rem;
            margin-bottom: -18rem;
            border: 5rem solid transparent;
            transition: all 0.4s;
            background-repeat: no-repeat;
            @media(max-width: 640px) {
                width: 92rem;
                height: 125rem;
            }
        }
        .form-zamow-body-radio span.wpcf7-list-item.last label span:before {
            content: '';
            background: url('https://magazyndigital.pl/wp-content/uploads/2022/02/02_21.png');
            display: block;
            background-size: contain;
            margin-bottom: -18rem;
            width: 182rem;
            height: 255rem;
            border: 5rem solid transparent;
            transition: all 0.4s;
            background-repeat: no-repeat;
            @media(max-width: 640px) {
                width: 92rem;
                height: 125rem;
            }
        }
        .form-zamow-body-radio span.wpcf7-form-control.wpcf7-radio {
            display: flex;
            justify-content: center;
        }
        .form-zamow-body-radio .wpcf7-list-item {
            margin: 0 30rem;
            label {
                cursor: pointer;
            }
        }
        .form-zamow-body-radio span.wpcf7-list-item.first label span:after {
            content: '';
            width: 75rem;
            height: 30rem;
            position: absolute;
            background: #fff;
            bottom: 8rem;
            z-index: -1;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .form-zamow-body-radio span.wpcf7-list-item.last label span:after {
            content: '';
            width: 75rem;
            height: 30rem;
            position: absolute;
            background: #fff;
            bottom: 8rem;
            z-index: -1;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .form-zamow-body-radio .wpcf7-list-item input:checked~span:before {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
            border-color: #fff !important;
        }
        .kup-magazyn__form--prenumerata2 {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 60rem 15rem;
            @media(max-width: 991px) {
                width: 100%;
            }
        }
        .form-zamow-body {
            background: #f7ab19;
            width: 725rem;
            padding: 44rem 24rem 3rem;
            @media(max-width: 991px) {
                width: 100%;
            }
            h2.form-zamow-body-h2 {
                font-size: 33rem;
                color: #3b3b3b;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 4rem;
                padding: 0 28rem;
                margin-top: 22rem;
                @media(max-width: 768px) {
                    padding: 0;
                    font-size: 23rem;
                }
            }
            label {
                width: 100%;
                font-size: 17rem;
                text-transform: uppercase;
                color: #3b3b3b;
                text-indent: 30rem;
                padding: 6px 0;
                letter-spacing: 4rem;
                font-weight: 500;
                .smalled {
                    font-size: 12.5rem;
                    letter-spacing: 2rem;
                    font-weight: 500;
                }
                .wpcf7-form-control-wrap {
                    display: block;
                    position: relative;
                }
                .wpcf7-form-control-wrap:before {
                    content: '';
                    width: 3rem;
                    height: 15rem;
                    background: #e91414;
                    display: block;
                    position: absolute;
                    top: 16rem;
                    left: 15rem;
                }
            }
            input {
                height: 48rem;
                width: 100%;
                font-size: 17rem;
                border: 0;
                margin-top: 8rem;
                text-indent: 30rem;
                letter-spacing: 3rem;
                &::placeholder {
                    color: #e91414;
                    font-size: 17rem;
                    text-indent: 30rem;
                    text-transform: uppercase;
                    letter-spacing: 4rem;
                }
            }
            // h2.form-zamow-body-h2 {
            //     font-size: 33rem;
            //     color: #3b3b3b;
            //     text-transform: uppercase;
            //     font-weight: 700;
            //     letter-spacing: 2rem;
            // }
        }
        .form-zamow-footer {
            background: #3b3b3b;
            width: 725rem;
            padding: 30rem 25rem 0;
            @media(max-width: 991px) {
                width: 100%;
            }
            // input {
            //     font-size: 17rem;
            // }
            span.wpcf7-list-item {
                color: #fff;
                font-size: 15rem;
                letter-spacing: 1.5rem;
                input {
                    opacity: 0;
                    position: absolute;
                    &:checked~span:after {
                        opacity: 1;
                    }
                }
                span {
                    position: relative;
                    padding-left: 23rem;
                    &:after {
                        position: absolute;
                        content: '';
                        background: url(/wp-content/uploads/2022/01/xxxx.png) center center no-repeat;
                        background-size: contain;
                        width: 16rem;
                        height: 16rem;
                        left: -15rem;
                        top: 3rem;
                        opacity: 0;
                    }
                    &:before {
                        content: '';
                        width: 19rem;
                        height: 19rem;
                        background-color: #f0a718;
                        position: absolute;
                        top: 1rem;
                        left: -16rem;
                    }
                }
            }
            span.wpcf7-list-item a {
                text-decoration: underline;
                color: #fff;
                font-weight: 700;
            }
            input.wpcf7-form-control.has-spinner.wpcf7-submit.btn.btn-primary {
                background: #e91414;
                border: 0;
                font-size: 17.5rem;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 10rem;
                width: 178rem;
                height: 48rem;
                padding-left: 10rem;
                display: block;
                margin-top: 30rem;
                margin-left: 39rem;
            }
        }
        span.wpcf7-not-valid-tip {
            font-size: 13rem;
            margin-top: 10rem;
            letter-spacing: 2rem;
            background: #dc3232;
            color: #fff;
            padding: 10rem;
            // margin: 0;
            text-indent: 0;
        }
        .wpcf7-response-output {
            max-width: 725rem;
            margin: 10rem 0 0 !important;
            background: #3b3b3b;
            border-color: #fff !important;
            color: #fff;
            font-size: 15rem;
            padding: 10rem !important;
            @media(max-width: 991px) {
                width: 100%;
            }
        }
    }
}

span.req {
    color: #e91414;
}