.single-post {
    header#hamburger {
        background: #000;
    }
    .container-fluid {
        max-width: 1380rem;
    }
    #hamburger {
        .container-fluid {
            max-width: 1600rem;
        }
    }
    .hero-news {
        display: flex;
        align-items: center;
        min-height: 800rem;
        background: #000;
        margin-top: 140rem;
        @media(min-width: 992px) {
            height: 800rem;
        }
        @media(min-width: 992px) and(max-width: 1199px) {
            height: 800rem;
            margin-top: 90rem;
        }
        @media(max-width: 991px) {
            min-height: 460rem;
            margin-top: 79rem;
        }
        h1 {
            color: #fff;
            font-weight: 700;
            font-size: 30rem;
            line-height: 40rem;
            letter-spacing: 2rem;
            @media(min-width: 992px) {
                padding-left: 160rem;
                font-size: 60rem;
                line-height: 80rem;
                letter-spacing: 4rem;
            }
        }
    }
    .autor {
        background: #F8AB16;
        font-size: 25rem;
        margin-left: 160rem;
        padding: 7rem 16rem;
        margin-top: 20rem;
        color: #fff;
        letter-spacing: 10rem;
        min-height: 58rem;
        display: inline-flex;
        align-items: center;
        font-weight: 300;
        @media(max-width: 992px) {
            font-size: 16rem;
            margin-left: 0;
            font-size: 16rem;
            margin-left: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            span {
                padding-left: 0 !important;
            }
        }
    }
    .autor span {
        text-transform: uppercase;
        font-weight: 700;
        color: #000;
        padding-left: 20rem;
    }
    .flexible-content {
        padding: 60rem 0;
        font-size: 18rem;
        line-height: 28rem;
        font-weight: 500;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 0;
            font-weight: 700;
            text-transform: uppercase;
            @media(min-width: 992px) {
                font-size: 40rem;
                line-height: 52rem;
            }
            strong {
                color: #F7AB19;
            }
        }
        .similar-content {
            p {
                font-size: 18rem;
                font-weight: 500;
                line-height: 28rem;
                @media only screen and (min-width: 992px) and (max-width: 1199px) {
                    //Put your CSS here for 200px to 767px width devices (cover all width between 200px to 767px //
                    font-size: 22rem;
                }
                strong {
                    font-weight: 700;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                &.big {
                    font-size: 22rem;
                    line-height: 35rem;
                    font-weight: 700;
                    @media only screen and (min-width: 992px) and (max-width: 1199px) {
                        //Put your CSS here for 200px to 767px width devices (cover all width between 200px to 767px //
                        font-size: 26rem;
                    }
                }
            }
            ul {
                padding-left: 34rem;
                li {
                    margin-bottom: 19rem;
                    position: relative;
                    list-style-type: none;
                    font-weight: 20rem;
                    line-height: 30rem;
                    &:before {
                        content: '';
                        background-image: url('/wp-content/uploads/2022/01/Polygon-16.svg');
                        width: 16rem;
                        height: 19rem;
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: absolute;
                        left: -34rem;
                        top: 4rem;
                    }
                }
            }
        }
    }
    .yellow-content {
        background: #F7AB19;
        font-size: 20rem;
        padding: 30rem;
        margin: 20rem;
        position: relative;
        strong {
            font-size: 24rem;
            line-height: 34rem;
            color: #070500;
        }
        &:before {
            content: '';
            background: #070500;
            position: absolute;
            top: -20rem;
            left: -20rem;
            right: -20rem;
            bottom: 0;
            z-index: -1;
            width: calc(100% + 40rem);
            height: 100%;
        }
        ul {
            padding-left: 34rem;
            li {
                margin-bottom: 19rem;
                position: relative;
                list-style-type: none;
                &:before {
                    content: '';
                    background-image: url('/wp-content/uploads/2022/01/Polygon-16.svg');
                    width: 16rem;
                    height: 19rem;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: -34rem;
                    top: 4rem;
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    .similar-content-image {
        padding: 30rem 0;
        p {
            font-size: 18rem;
            font-weight: 500;
            line-height: 28rem;
            strong {
                font-weight: 700;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            &.big {
                font-size: 22rem;
                line-height: 35rem;
                font-weight: 700;
            }
        }
        .image {
            img {
                width: 100%;
                margin: 0;
                height: auto;
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16);
            }
        }
        .image-desc {
            margin-bottom: 40rem;
        }
        .image-left {
            @media(min-width: 992px) {
                padding-right: 20rem;
            }
        }
        .image-right {
            @media(min-width: 992px) {
                padding-left: 20rem;
            }
        }
        .zrodlo {
            background: rgba(183, 182, 182, 0.28);
            margin-top: 20rem;
            border-left: 9rem solid #f7ab19;
            font-size: 12rem;
            padding: 15rem 19rem;
            word-break: break-word;
        }
        .content {
            &.content-right {
                @media(min-width: 992px) {
                    padding-left: 20rem;
                }
            }
            &.content-left {
                @media(min-width: 992px) {
                    padding-right: 20rem;
                }
            }
            ul {
                padding-left: 34rem;
                li {
                    margin-bottom: 19rem;
                    position: relative;
                    list-style-type: none;
                    &:before {
                        content: '';
                        background-image: url('/wp-content/uploads/2022/01/Polygon-16.svg');
                        width: 16rem;
                        height: 19rem;
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: absolute;
                        left: -34rem;
                        top: 4rem;
                    }
                }
            }
        }
    }
    .similar-content,
    .similar-content-yelow {
        padding: 30rem 0;
    }
    .similar-content-grey {
        margin: 30rem 0;
        background: rgba(183, 182, 182, 0.28);
        padding: 50rem 0 33rem;
    }
    .autor-info {
        background: rgba(183, 182, 182, 0.28);
        padding: 80rem 0;
        .autor {
            margin-top: 0;
            margin-left: 0;
            background: #000;
            color: #fff;
            span {
                color: #F7AB19;
            }
        }
        .stanowisko {
            margin-top: 30rem;
            line-height: 30rem;
            font-size: 18rem;
        }
        .desc-autor {
            font-weight: 500;
            line-height: 30rem;
            font-size: 18rem;
        }
    }
}

.single-artyku {
    header#hamburger {
        background: #000;
    }
    .container-fluid {
        max-width: 1380rem;
    }
    #hamburger {
        .container-fluid {
            max-width: 1600rem;
        }
    }
    .hero-news {
        display: flex;
        align-items: center;
        min-height: 800rem;
        background: #000;
        margin-top: 140rem;
        @media(min-width: 992px) {
            height: 800rem;
        }
        @media(min-width: 992px) and(max-width: 1199px) {
            height: 800rem;
            margin-top: 90rem;
        }
        @media(max-width: 991px) {
            min-height: 460rem;
            margin-top: 79rem;
        }
        h1 {
            color: #000;
            font-weight: 700;
            font-size: 30rem;
            line-height: 40rem;
            letter-spacing: 2rem;
            @media(min-width: 992px) {
                padding-left: 160rem;
                font-size: 60rem;
                line-height: 80rem;
            }
        }
    }
    .autor {
        background: #fff;
        font-size: 25rem;
        margin-left: 160rem;
        padding: 7rem 16rem;
        margin-top: 20rem;
        color: #000;
        letter-spacing: 10rem;
        min-height: 58rem;
        display: inline-flex;
        align-items: center;
        font-weight: 300;
        @media(max-width: 992px) {
            font-size: 16rem;
            margin-left: 0;
            font-size: 16rem;
            margin-left: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            span {
                padding-left: 0 !important;
            }
        }
    }
    .autor span {
        text-transform: uppercase;
        font-weight: 700;
        color: #000;
        padding-left: 20rem;
    }
    .flexible-content {
        padding: 60rem 0;
        font-size: 18rem;
        line-height: 28rem;
        font-weight: 500;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 0;
            font-weight: 700;
            text-transform: uppercase;
            @media(min-width: 992px) {
                font-size: 40rem;
                line-height: 52rem;
            }
            strong {
                color: #F7AB19;
            }
        }
        .similar-content {
            p {
                font-size: 18rem;
                font-weight: 500;
                line-height: 28rem;
                strong {
                    font-weight: 700;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                &.big {
                    font-size: 22rem;
                    line-height: 35rem;
                    font-weight: 700;
                }
            }
            ul {
                padding-left: 34rem;
                li {
                    margin-bottom: 19rem;
                    position: relative;
                    list-style-type: none;
                    font-weight: 20rem;
                    line-height: 30rem;
                    &:before {
                        content: '';
                        background-image: url('/wp-content/uploads/2022/01/Polygon-16.svg');
                        width: 16rem;
                        height: 19rem;
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: absolute;
                        left: -34rem;
                        top: 4rem;
                    }
                }
            }
        }
    }
    .yellow-content {
        background: #F7AB19;
        font-size: 20rem;
        padding: 30rem;
        margin: 20rem;
        position: relative;
        strong {
            font-size: 24rem;
            line-height: 34rem;
            color: #070500;
        }
        &:before {
            content: '';
            background: #070500;
            position: absolute;
            top: -20rem;
            left: -20rem;
            right: -20rem;
            bottom: 0;
            z-index: -1;
            width: calc(100% + 40rem);
            height: 100%;
        }
        ul {
            padding-left: 34rem;
            li {
                margin-bottom: 19rem;
                position: relative;
                list-style-type: none;
                &:before {
                    content: '';
                    background-image: url('/wp-content/uploads/2022/01/Polygon-16.svg');
                    width: 16rem;
                    height: 19rem;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: -34rem;
                    top: 4rem;
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    .similar-content-tabela {
        padding: 30rem 0;
        .tabela {
            box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16);
            .single {
                overflow: hidden;
                &:nth-child(2) {
                    .opis {
                        border-left: 1px solid #878787;
                        border-right: 1px solid #878787;
                    }
                }
            }
            .naglowek {
                text-align: center;
                padding: 20rem 5rem;
                color: #F7AB19;
                background-color: #000;
                font-size: 19rem;
                font-weight: 700;
            }
            .opis {
                padding: 30rem 30rem 10rem;
                height: 100%;
            }
        }
    }
    .similar-content-tnztw {
        padding: 30rem 0;
        .content {
            background: #F7AB19;
            font-size: 20rem;
            padding: 45rem;
            // margin: 20rem;
            position: relative;
            max-width: 630rem;
            margin: 20px auto 20rem;
            text-align: center;
            color: #000;
            font-weight: 800;
            p {
                margin-bottom: 0;
            }
            &:before {
                content: '';
                background: #070500;
                position: absolute;
                top: -20rem;
                left: -20rem;
                right: -20rem;
                bottom: 0;
                z-index: -1;
                width: calc(100% + 40rem);
                height: 100%;
            }
        }
    }
    .similar-content-wooz {
        padding: 30rem 0;
        .image {
            img {
                width: 100%;
                height: auto;
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16);
            }
        }
        .zrodlo {
            background: rgba(183, 182, 182, 0.28);
            margin-top: 20rem;
            border-left: 9rem solid #f7ab19;
            font-size: 12rem;
            padding: 15rem 19rem;
            line-height: 20rem;
            word-break: break-word;
        }
    }
    .similar-content-image {
        padding: 30rem 0;
        p {
            font-size: 18rem;
            font-weight: 500;
            line-height: 28rem;
            strong {
                font-weight: 700;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            &.big {
                font-size: 22rem;
                line-height: 35rem;
                font-weight: 700;
            }
        }
        .image {
            img {
                width: 100%;
                margin: 0;
                height: auto;
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16);
            }
        }
        .image-desc {
            margin-bottom: 40rem;
        }
        .image-left {
            @media(min-width: 992px) {
                padding-right: 20rem;
            }
        }
        .image-right {
            @media(min-width: 992px) {
                padding-left: 20rem;
            }
        }
        .zrodlo {
            background: rgba(183, 182, 182, 0.28);
            margin-top: 20rem;
            border-left: 9rem solid #f7ab19;
            font-size: 12rem;
            padding: 15rem 19rem;
            word-break: break-word;
        }
        .content {
            &.content-right {
                margin-top: 50rem;
                @media(min-width: 992px) {
                    padding-left: 20rem;
                    margin-top: 0;
                }
            }
            &.content-left {
                margin-bottom: 50rem;
                @media(min-width: 992px) {
                    padding-right: 20rem;
                    margin-bottom: 0;
                }
            }
            ul {
                padding-left: 34rem;
                li {
                    margin-bottom: 19rem;
                    position: relative;
                    list-style-type: none;
                    &:before {
                        content: '';
                        background-image: url('/wp-content/uploads/2022/01/Polygon-16.svg');
                        width: 16rem;
                        height: 19rem;
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: absolute;
                        left: -34rem;
                        top: 4rem;
                    }
                }
            }
        }
    }
    .similar-content,
    .similar-content-yelow {
        padding: 30rem 0;
    }
    .similar-content-grey {
        margin: 30rem 0;
        background: rgba(183, 182, 182, 0.28);
        padding: 50rem 0 33rem;
    }
    .autor-info {
        background: rgba(183, 182, 182, 0.28);
        padding: 80rem 0;
        .autor {
            margin-top: 0;
            margin-left: 0;
            background: #000;
            color: #fff;
            span {
                color: #F7AB19;
            }
        }
        .stanowisko {
            margin-top: 30rem;
            line-height: 30rem;
            font-size: 18rem;
        }
        .desc-autor {
            font-weight: 500;
            line-height: 30rem;
            font-size: 18rem;
        }
    }
}