.page-magazyn {
    font-size: 16rem;
    line-height: 30rem;
    @media(min-width: 992px) {
        font-size: 19rem;
        line-height: 28rem;
    }
    .banner-page {
        background: url('/wp-content/uploads/2022/01/bg-o-magazynie.jpg');
        background-size: cover;
        background-position: center center;
        height: auto;
        padding: 120rem 0;
        color: #fff;
        @media(min-width: 992px) {
            max-height: 100vh;
            height: 1080rem;
            padding: 0;
            display: flex;
            align-items: center;
            padding-top: 40rem;
        }
        .banner-page__left {
            display: flex;
            margin-top: 40rem;
            @media(max-width: 991px) {
                justify-content: center;
                width: 100%;
                margin-bottom: 30rem;
            }
            span {
                font-size: 90rem;
                text-transform: uppercase;
                @media(min-width: 992px) {
                    font-size: 120rem;
                }
                &:nth-child(1) {
                    font-weight: 400;
                    mix-blend-mode: difference;
                    font-size: 304rem;
                    margin-top: 28rem;
                    @media(max-width: 991px) {
                        font-size: 140rem;
                        margin-top: 15rem;
                    }
                    @media(max-width:575px) {
                        font-size: 100rem;
                        margin-top: 13rem;
                    }
                }
                &:nth-child(2) {
                    font-weight: 100;
                    font-size: 220rem;
                    padding-left: 20rem;
                    @media(max-width: 991px) {
                        font-size: 94rem;
                    }
                    @media(max-width:575px) {
                        font-size: 68rem;
                    }
                    /*
                    @media(max-width:575px) {
                        font-size: 70rem;
                    }*/
                    &:after {
                        content: '';
                        width: 207rem;
                        height: 17rem;
                        background: #f7ab19;
                        display: block;
                        margin-top: 69rem;
                        mix-blend-mode: difference;
                        margin-top: 90rem;
                        @media(min-width: 992px) {
                            width: 470rem;
                            height: 34rem;
                            margin-left: 16rem;
                        }
                        @media(max-width:991px) {
                            margin-top: 35rem;
                        }
                        @media(max-width:575px) {
                            margin-top: 22rem;
                            width: 151rem;
                            height: 13rem;
                        }
                    }
                }
            }
        }
    }
    .banner-page__right {
        padding: 30rem 40rem 30rem 40rem;
        font-size: 21rem;
        font-weight: 500;
        line-height: 1.2;
        position: relative;
        max-width: 740rem;
        margin-left: 22rem;
        @media(max-width: 991px) {
            font-size: 17rem;
        }
        &::before {
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #000;
            mix-blend-mode: overlay;
            position: absolute;
            z-index: 1;
        }
        p {
            strong {
                font-weight: 800;
            }
        }
        p:last-of-type {
            margin-bottom: 0;
        }
    }
    .section-1 {
        background: #1f1f1f;
        color: $yellow;
        padding: 50rem 0 0;
        position: relative;
        @media(min-width: 992px) {
            padding: 150rem 0;
        }
        .section-1__left {
            @media(max-width: 991px) {
                font-size: 17rem;
            }
            // padding-right: 0rem;
            @media(min-width: 992px) {
                padding-right: 70rem;
                font-size: 21rem;
                font-weight: 500;
                line-height: 1.2;
                max-width: 595rem;
                float: right;
                p {
                    strong {
                        font-weight: 800;
                    }
                }
            }
        }
        .section-1-image img {
            width: 100%;
            height: auto;
            margin-top: 50rem;
            @media(min-width: 992px) {
                margin-top: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 50%;
                height: 100%;
                right: 0;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .section-2 {
        background: url('/wp-content/uploads/2022/01/sekcja-3.jpg');
        background-size: cover;
        background-position: center center;
        padding: 50rem 0;
        color: #fff;
        @media(min-width: 992px) {
            padding: 100rem 0 70rem 0;
        }
        .section-2__right {
            @media(max-width: 991px) {
                font-size: 17rem;
                border-top: 2px solid #fff;
                margin-top: 10rem;
                padding-top: 25rem;
            }
            @media(min-width: 992px) {
                border-left: 3rem solid #fff;
                padding-left: 70rem;
                font-size: 21rem;
                line-height: 1.2;
                p {
                    font-weight: 500;
                    strong {
                        font-weight: 800;
                    }
                }
            }
        }
        .section-2__left {
            @media(min-width: 992px) {
                padding-right: 70rem;
            }
            h2 {
                font-size: 20rem;
                display: block;
                background: #fff;
                color: #000;
                font-weight: 700;
                letter-spacing: 3rem;
                width: 100%;
                padding: 15rem 10rem;
                text-align: center;
                margin-bottom: 25rem;
                margin-top: 0;
                @media(min-width: 992px) {
                    font-size: 25rem;
                    margin-bottom: 0;
                    letter-spacing: 12rem;
                    margin-top: -1.5em;
                }
            }
        }
    }
}

.page-template-o-magazynie-2 {
    .page-piszaonas .banner-piszaonas {
        @media(min-width: 992px) {
            max-height: 906rem;
            background-position: center bottom;
        }
    }
    .page-redakcja .banner-redakcja {
        @media(min-width: 992px) {
            max-height: 906rem;
            // background-position: center bottom;
        }
    }
    .page-redakcja .banner-redakcja .page-piszaonas .osoby {
        @media(min-width: 992px) {
            padding-top: 160rem;
        }
    }
    .page-redakcja .wydawca {
        margin-top: 40rem;
    }
    .banner-page {
        background: url(https://magazyndigital.pl/wp-content/uploads/2022/02/bg-nowe-o-magazynie.jpg);
        background-size: cover;
        height: 1340rem;
        background-position: 0 0rem;
        max-height: unset;
        @media(max-width: 992px) {
            height: 920rem;
            display: flex;
            align-items: center;
        }
        @media(max-width: 768px) {
            height: auto;
            padding: 120rem 0 30rem;
        }
    }
    .banner-page__right {
        margin-top: 75rem;
        max-width: 1200rem;
        margin-left: auto;
        margin-right: auto;
        padding: 17rem 25rem !important;
        font-weight: 500;
        letter-spacing: 1rem;
        @media(max-width: 768px) {
            margin-top: 0rem;
        }
    }
    .banner-page__left {
        margin-top: -90rem !important;
        justify-content: center;
        @media(max-width: 992px) {
            margin-top: 0 !important;
        }
        span {
            font-size: 174rem !important;
            margin-top: 0 !important;
            letter-spacing: 10rem;
            @media(max-width: 992px) {
                font-size: 84rem !important;
            }
            @media(max-width: 768px) {
                font-size: 44rem !important;
            }
            &:nth-child(1) {
                font-weight: 800 !important;
                &:after {
                    content: '';
                    width: 137rem;
                    height: 27rem;
                    background: #ffffff;
                    display: block;
                    // margin-top: 69rem;
                    mix-blend-mode: difference;
                    margin-top: 73rem;
                    position: relative;
                    @media(max-width: 992px) {
                        height: 17rem;
                        margin-top: 35rem;
                        width: 67rem;
                    }
                    @media(max-width: 768px) {
                        height: 7rem;
                        margin-top: 22rem;
                        width: 37rem;
                    }
                }
            }
            &:nth-child(2) {
                font-weight: 300 !important;
                &:after {
                    height: 27rem !important;
                    // width: 98% !important;
                    // margin-top: 73px !important;
                    width: calc(100% - 32rem) !important;
                    margin-top: 73rem !important;
                    left: -2rem;
                    position: relative;
                    @media(max-width: 992px) {
                        height: 17rem !important;
                        margin-top: 35rem !important;
                        width: calc(100% - 19rem) !important;
                        left: 6px !important;
                        // width: 37rem;
                    }
                    @media(max-width: 768px) {
                        height: 7rem !important;
                        margin-top: 22rem !important;
                        // width: 37rem;
                    }
                }
            }
        }
    }
    .section-1 {
        background-image: url(https://magazyndigital.pl/wp-content/uploads/2022/02/o-magazynie-1-2.jpg);
        background-color: transparent !important;
        color: #000 !important;
        background-size: 50%;
        @media(max-width: 991px) {
            background-size: cover;
            background-position: 0% -220rem;
        }
    }
    .section-2 {
        background: url(https://magazyndigital.pl/wp-content/uploads/2022/02/tlo.png)!important;
        .section-2__left h2 {
            width: 410rem;
            background: #f6ab19;
            text-align: left;
            display: flex;
            padding-left: 42rem;
            // float: right;
            @media(min-width: 992px) {
                float: right;
            }
        }
    }
    .banner-piszaonas {
        // border-top: 5rem solid #fff;
    }
}