@font-face {
    font-family: 'Baron Neue';
    src: url('../fonts/BaronNeueBold.woff2') format('woff2'), url('../fonts/BaronNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('../fonts/BaronNeue.woff2') format('woff2'), url('../fonts/BaronNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('../fonts/BaronNeueItalic.woff2') format('woff2'), url('../fonts/BaronNeueItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('../fonts/BaronNeueBoldItalic.woff2') format('woff2'), url('../fonts/BaronNeueBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('../fonts/BaronNeueBlack.woff2') format('woff2'), url('../fonts/BaronNeueBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('../fonts/BaronNeueBlackItalic.woff2') format('woff2'), url('../fonts/BaronNeueBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

.page-template-czytaj-online {
    header#hamburger {
        background: #000;
    }
}

.page-czytaj {
    background-color: #dcdbdb;
    padding: 100rem 0;
    .first {
        padding: 200rem 0 0rem;
        color: #000;
        font-weight: 700;
        font-size: 20rem;
        @media(max-width: 991px) {
            padding: 90rem 0 0;
        }
        strong {
            color: $yellow;
            font-weight: 800;
            @media(min-width: 992px) {
                font-size: 43rem;
            }
        }
        @media(min-width: 992px) {
            font-size: 35rem;
        }
    }
    .magazyn {
        font-size: 21rem;
        padding: 0;
    }
    .numer-magazynu {
        font-size: 107rem;
        font-weight: 700;
        position: relative;
        color: #000;
        z-index: 1;
        font-family: 'Baron Neue';
        font-weight: 800;
        @media(max-width: 991px) {
            margin-bottom: -50rem;
            font-size: 60rem;
        }
    }
    .numer-magazynu:after {
        content: '';
        width: 90%;
        background: #f7ab19;
        position: absolute;
        top: 58%;
        left: 50%;
        height: 60%;
        z-index: -1;
        transform: translate(-50%, -50%);
    }
    .magazyn-prenumerata {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .magazyn-prenumerata h3 {
        // text-transform: uppercase;
        margin: 70rem 0 0;
        font-size: 36rem;
        font-weight: 900;
        color: #000;
        padding-left: 50rem;
        font-family: 'Baron Neue';
        line-height: 39rem;
        @media(max-width: 991px) {
            padding-left: 0;
            text-align: center;
        }
    }
    .opis-prenumeraty {
        font-size: 21rem;
        max-width: 1000rem;
        margin: 20rem auto 50rem;
        transform: translateX(10rem);
        font-weight: 500;
        @media(max-width: 991px) {
            font-size: 17rem;
            max-width: 970rem;
            margin: 0rem auto 40rem;
            text-align: center;
            transform: translateX(0rem);
        }
    }
    .cta-col {
        margin-top: 60rem;
        margin-bottom: 80rem;
        @media(max-width: 991px) {
            text-align: center !important;
        }
    }
    .buttons {
        display: flex;
        justify-content: center;
        @media(max-width: 991px) {
            flex-direction: column;
        }
    }
    .buttons .cta-zamow {
        max-width: 500rem;
    }
    .buttons a {
        margin: 0 70rem;
        @media(max-width: 991px) {
            margin: 10px auto;
            max-width: 500rem !important;
        }
    }
    .cta {
        background: #E91414;
        font-size: 16rem;
        color: #fff !important;
        text-transform: uppercase;
        letter-spacing: 5rem;
        padding: 15rem 34rem;
        display: inline-block;
        text-decoration: none;
        max-width: 330rem;
        text-align: center;
        box-shadow: 10rem 11rem 15rem 0rem rgba(0, 0, 0, 0.3);
        position: relative;
        cursor: pointer;
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: transparent;
            top: 0;
            left: 0;
            right: 0;
            transform: scaleX(0.96) scaleY(0.8);
            border: 1px solid #fff;
        }
        &:hover,
        &:active {
            text-decoration: none;
        }
        img {
            width: 12rem;
            height: auto;
            padding: 0;
        }
    }
    .spis-tresci {
        max-width: 100%;
        margin: 0 auto;
    }
    .spis-tresci {
        position: relative;
    }
    .spis-tresci:before {
        @media(min-width: 992px) {
            content: 'sPis tReści';
            font-family: 'Baron Neue';
            display: block;
            font-size: 137rem;
            font-weight: 700;
            color: #000;
            opacity: 0.2;
            position: absolute;
            top: -50rem;
            transform: rotate(-90deg);
            left: -470rem;
        }
    }
    .pojedyncze {
        display: flex;
        align-items: center;
        margin-bottom: 35rem;
        @media(max-width: 991px) {
            flex-direction: column;
            margin-bottom: 20rem;
        }
    }
    .pojedyncze .naglowek {
        font-size: 55rem;
        text-align: right;
        font-weight: 800;
        // text-transform: uppercase;
        font-family: 'Baron Neue';
        color: #000;
        min-width: 440rem;
        padding-right: 20rem;
        transform: translateY(-10rem);
        line-height: 55rem;
        @media(max-width: 991px) {
            min-width: 100%;
            text-align: center;
            margin-bottom: 0rem;
            margin-top: 30rem;
            transform: unset;
        }
        @media(max-width: 550px) {
            font-size: 32rem;
        }
    }
    .pojedyncze .naglowek strong {
        color: #f7ab19;
    }
    .pojedyncze .naglowek span {
        font-size: 25rem;
        display: block;
        margin-top: -20rem;
        line-height: 80rem;
    }
    .spis-tresci .pojedyncze {
        .opis {
            @media(max-width: 991px) {
                display: block;
                width: 100%;
            }
        }
        .opis ul li {
            list-style-type: none;
            position: relative;
            font-weight: 600;
            margin-bottom: 10rem;
            color: #000;
            max-width: 720rem;
        }
        .opis ul li:before {
            content: '';
            width: 18rem;
            height: 14rem;
            background: #f7ab19;
            display: block;
            position: absolute;
            top: 8rem;
            left: -38rem;
        }
        .opis ul {
            padding-left: 60rem;
        }
    }
    .download-magazine {
        position: relative;
        display: none;
        margin-top: 40rem;
        form.submitting {
            position: relative;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: 'Wysyłanie...';
                background: url(/wp-content/uploads/2022/01/tlopopup.png) center center no-repeat;
                background-size: cover;
                z-index: 99;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20rem;
                font-size: 34rem;
                letter-spacing: 5rem;
                font-weight: 700;
                color: #fff;
            }
        }
        input {
            height: 56rem;
            font-size: 18rem;
            padding: 0 12rem 0;
            text-transform: uppercase;
            color: #383838;
            font-weight: 300;
            letter-spacing: 8rem;
            background: #fff;
            line-height: 1.2;
            border: 0;
            border-radius: 0;
            transition: all .5s;
            &::placeholder {
                color: #e91414;
                @media(max-width: 992px) {
                    font-size: 13rem;
                    letter-spacing: 5rem;
                }
            }
        }
        input[type="submit"] {
            position: absolute;
            top: 0;
            background: red;
            z-index: 1;
            color: #fff;
            right: 0;
            padding: 0 30rem;
            font-weight: 700;
            @media(max-width: 992px) {
                position: relative;
                top: 0;
                margin: 0;
                width: 100%;
                margin-top: -32rem;
                margin-bottom: 32rem;
            }
        }
        .wpcf7-list-item {
            background: #c5c5c5;
            margin: 0;
            margin-top: -64rem;
            padding: 20rem 20rem 20rem 50rem;
            font-size: 22rem;
            line-height: 1.2;
            font-weight: 400;
            @media(max-width: 992px) {
                padding: 20rem 8rem 20rem 50rem;
                font-size: 15rem;
                text-align: left;
            }
            input {
                position: absolute;
                width: 1rem;
                height: 1rem;
                &::before {
                    position: absolute;
                    content: '';
                    width: 22rem;
                    height: 22rem;
                    background: transparent;
                    border: 2px solid #383838;
                    left: -36rem;
                    top: 2rem;
                }
                &::after {
                    position: absolute;
                    content: '';
                    background: url(/wp-content/uploads/2022/01/xxxx.png) center center no-repeat;
                    background-size: contain;
                    width: 16rem;
                    height: 16rem;
                    left: -33rem;
                    top: 5rem;
                    opacity: 0;
                    transition: all .5s;
                }
                &:checked {
                    &::before {
                        position: absolute;
                        content: '';
                        width: 22rem;
                        height: 22rem;
                        background: #383838;
                        border: 2px solid #383838;
                        left: -36rem;
                        top: 2rem;
                    }
                    &::after {
                        opacity: 1;
                        transition: all .5s;
                    }
                }
            }
        }
        .wpcf7-not-valid-tip {
            color: #ffffff;
            font-size: 1em;
            font-weight: normal;
            display: block;
            background: red;
            font-size: 16rem;
            padding: 6rem 14rem;
        }
        .wpcf7 form .wpcf7-response-output {
            margin: 0;
            padding: 6rem 14rem;
            margin-top: -32rem;
            background: #c5c5c5;
            font-size: 16rem;
            //color: #fff;
        }
    }
    .pokaz-caly-spis,
    .chowaj-caly-spis {
        display: inline-block;
        background: #f7ab19;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 7rem;
        font-size: 24rem;
        padding: 3rem 15rem;
        box-shadow: 5px 20px 35px #00000045;
        margin-left: 37%;
        cursor: pointer;
    }
}