.page-piszaonas {
    overflow: hidden;
    .banner-piszaonas {
        height: 1080rem;
        background: url('/wp-content/uploads/2022/01/AdobeStock_447813323_Preview.png');
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        @media(min-width: 992px) {
            max-height: 100vh;
            background-position: center bottom;
        }
        @media(max-width: 991px) {
            height: 460rem;
        }
        .col-content {
            // text-transform: center;
            h1 {
                color: #fff;
                font-weight: 700;
                text-align: center;
                font-size: 56rem;
                text-transform: uppercase;
                @media(min-width: 992px) {
                    text-align: left;
                    font-size: 86rem;
                    padding-left: 200rem;
                }
                @media(min-width: 992px) {
                    text-align: left;
                    font-size: 120rem;
                    padding-left: 350rem;
                    line-height: 130rem;
                    margin-top: 140rem;
                    letter-spacing: 14rem;
                }
                @media(max-width:991px) {
                    text-align: left;
                    letter-spacing: 6rem;
                }
                span {
                    color: $yellow;
                    display: block;
                    @media(min-width: 992px) {
                        position: relative;
                        left: -190rem;
                    }
                }
            }
        }
    }
    .bar {
        background-color: #4D4D4D;
        padding: 30rem 0 20rem 0;
        .container-fluid {
            max-width: 1330rem;
        }
        h2 {
            color: #fff;
            font-weight: 800;
            font-size: 44rem;
            margin: 0;
            @media(max-width: 991px) {
                font-size: 30rem;
            }
            @media(max-width: 991px) {
                font-size: 20rem;
            }
        }
    }
    .osoby {
        padding: 100rem 0;
        .container-fluid {
            max-width: 1330rem;
        }
        .osoba-single {
            margin-bottom: 50rem;
            transition: all .6s;
            cursor: pointer;
            &_square {
                position: relative;
                &:before {
                    content: '';
                    background-color: #F7AB19;
                    width: 228rem;
                    height: 23rem;
                    position: absolute;
                    bottom: 14rem;
                    right: 0;
                    transition: all 0.4s;
                    @media(max-width: 991px) {
                        width: 158rem;
                        height: 14rem;
                    }
                    @media(max-width: 991px) {
                        width: 198rem;
                        height: 20rem;
                    }
                }
                &:hover {
                    .name {
                        opacity: 1;
                    }
                }
                img {
                    width: 90%;
                    height: auto;
                    @media(max-width: 991px) {
                        width: 100%;
                    }
                }
                .name {
                    color: #fff;
                    font-size: 25rem;
                    text-transform: uppercase;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 0;
                    right: 10%;
                    background: rgba(247, 171, 25, 0.7);
                    height: 100%;
                    transition: all 0.4s;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    font-weight: 700;
                    text-align: center;
                    @media(max-width: 991px) {
                        font-size: 34rem;
                        top: 0;
                        left: 0;
                        right: 0;
                    }
                    @media(max-width: 640px) {
                        font-size: 24rem;
                    }
                    @media(max-width: 768px) {
                        right: 0;
                    }
                    span {
                        padding-left: 10rem;
                    }
                }
            }
        }
    }
}

.hidedesc {
    display: none;
}

.desc-osoba {
    transition: opacity .5s;
    //transition-delay: 0.5s;
}

.osoba-single-desc {
    position: absolute;
}

.osoba-single {
    transition: none !important;
}

.osoba-single-active {
    margin-bottom: 410rem !important;
    transition: none !important;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 610rem !important;
    }
    @media(max-width: 767px) {
        margin-bottom: 0rem !important;
    }
    .name {
        opacity: 1 !important;
    }
}

.desc-osoba {
    position: absolute;
    left: 0;
    width: 100vw;
    background: #ececec;
    height: 325rem;
    z-index: 9;
    font-size: 16rem;
    padding: 50rem 30rem;
    top: 44%;
    @media(max-width: 1200px) {
        top: 43%;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        top: 49vw;
        height: 500rem;
    }
    @media(max-width: 767px) {
        position: relative;
        left: 0;
        width: 100%;
        background: #ececec;
        height: auto;
        z-index: 9;
        font-size: 16rem;
        padding: 50rem 30rem 10rem 30rem;
        top: 0;
        margin: 15px 0;
    }
    /*&::before {
        position: absolute;
        top: 0;
        bottom: 0;
        background: #ccc;
        z-index: -1;
        width: 50vw;
        left: -50vw;
        content: '';
    }*/
    &__content {
        display: flex;
        flex-wrap: wrap;
        width: calc(1310rem - 30px);
        margin: 0 auto;
        @media(max-width: 991px) {
            width: calc(735rem - 30px);
        }
        @media(max-width: 767px) {
            width: 100%;
        }
        &--name {
            background: #000;
            color: #fff;
            height: 60rem;
            font-size: 25rem;
            font-weight: 300;
            letter-spacing: 14rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding-left: 20rem;
            @media(max-width: 991px) {
                height: auto;
                font-size: 22rem;
                padding: 10rem;
                display: inline-block;
                max-width: 100%;
                word-break: break-word;
            }
            span {
                color: #F7AB19;
                font-weight: 700;
                padding-left: 20rem;
                text-transform: uppercase;
                @media(max-width: 991px) {
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 0;
                    letter-spacing: 10rem;
                    word-break: break-word;
                }
            }
        }
        &--position {
            height: 60rem;
            display: flex;
            font-size: 20rem;
            font-weight: 300;
            color: #000;
            padding-left: 15rem;
            align-items: center;
            @media(max-width: 991px) {
                padding-left: 0rem;
                padding-top: 15rem;
                width: 100%;
                height: auto;
            }
        }
        &--bio {
            display: flex;
            width: 100%;
            padding-top: 42rem;
            font-weight: 300;
            color: #000;
            font-size: 20rem;
            @media(max-width: 767px) {
                font-size: 17rem;
            }
        }
    }
}