.page-rabaty {
    .banner-rabaty {
        background: url('/wp-content/uploads/2022/01/AdobeStock_99117954_Preview.png');
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        padding-top: 60rem;
        height: 992rem;
        @media(max-width: 991px) {
            padding-top: 120rem;
            padding-bottom: 30rem;
            height: auto;
            min-height: auto;
        }
        /*.row {
            @media(max-width: 1023px) {
                .col-lg-6 {
                    max-width: 100%;
                    width: 100%;
                    flex: 0 0 100%;
                }
            }
        }*/
        h1 {
            font-size: 120rem;
            color: #fff;
            position: relative;
            font-weight: 700;
            letter-spacing: 25rem;
            text-transform: uppercase;
            margin: -30rem 0 0 -30rem;
            display: block;
            @media(max-width: 991px) {
                text-align: center;
                font-size: 70rem;
                margin: -30rem 0rem 60rem 15rem;
            }
            @media(max-width: 550px) {
                font-size: 32rem;
            }
            &:after {
                content: '';
                width: 610rem;
                height: 16rem;
                background: #f7ab19;
                margin-top: 69rem;
                mix-blend-mode: difference;
                position: absolute;
                left: 5rem;
                bottom: 2rem;
                @media(max-width: 991px) {
                    width: 249rem;
                    height: 18rem;
                    background: #f7ab19;
                    margin-top: 69rem;
                    margin-left: -12rem;
                    mix-blend-mode: difference;
                    position: absolute;
                    left: 50%;
                    bottom: -15rem;
                    transform: translate(-50%, 0);
                }
                @media(max-width: 550px) {
                    height: 10rem;
                }
            }
        }
        .desc {
            color: #fff;
            font-size: 20rem;
            line-height: 24rem;
            font-weight: 600;
            background: #000000de;
            padding: 50rem 30rem;
            @media(max-width: 991px) {
                font-size: 18rem;
                line-height: 23rem;
            }
            strong {
                margin: 35rem 0 30rem 0;
                font-weight: 700;
            }
            p {
                font-weight: 400;
            }
            ul {
                counter-reset: list-number;
                padding-left: 95rem;
                li {
                    list-style-type: none;
                    counter-increment: list-number;
                    position: relative;
                    margin-bottom: 19rem;
                    font-weight: 500;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    &:before {
                        content: 'Krok 'counter(list-number) '.';
                        color: $yellow;
                        text-transform: uppercase;
                        font-weight: 700;
                        position: absolute;
                        top: 0;
                        left: -95rem;
                    }
                }
            }
        }
    }
    .container-fluid {
        max-width: 1335rem;
    }
    .logotypy {
        padding: 100rem 0;
        .single-double {
            height: 556rem !important;
            @media(max-width: 991px) {
                height: auto !important;
            }
        }
        .single {
            border: 3rem solid #F0A511;
            margin-bottom: 80rem;
            text-align: center;
            height: 238rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 90rem 40rem 50rem;
            position: relative;
            @media(max-width: 991px) {
                height: auto;
            }
            .logo {
                position: absolute;
                height: 105rem;
                top: -52rem;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 320rem;
                img {
                    width: 100%;
                    margin: 0 auto;
                    display: block;
                    background: #fff;
                    padding-left: 50rem;
                    padding-right: 50rem;
                }
            }
            .big {
                font-weight: 800;
                color: #000;
                font-size: 24rem;
                line-height: 27rem;
                margin-bottom: 20rem;
            }
            .desc {
                font-size: 17rem;
                color: #000;
                line-height: 22rem;
                span.strong {
                    color: #F0A511;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: block;
                }
            }
        }
    }
}