.page-id-83 {
    .header-logo-black {
        display: block;
    }
    .header-logo-white {
        display: none;
    }
    @media(max-width: 550px) {
        .header-logo-black {
            display: none;
        }
        .header-logo-white {
            display: block;
        }
    }
    .scrollheader {
        .header-logo-black {
            display: none;
        }
        .header-logo-white {
            display: block;
        }
    }
}

.page-redakcja {
    .banner-redakcja {
        height: 1080rem;
        background: url('/wp-content/uploads/2022/01/head-min.png');
        background-size: cover;
        background-position: center center;
        @media(min-width: 992px) {
            max-height: 100vh;
        }
        @media(max-width: 991px) {
            height: 460rem;
        }
        border-bottom: 7px solid $yellow;
    }
    .single-person {
        background-color: #fff;
        .container-fluid {
            max-width: 1335rem;
        }
        .rows {
            display: flex;
            flex-wrap: wrap;
        }
        padding: 80rem 0;
        font-size: 19rem;
        @media(min-width: 992px) {
            padding: 100rem 0;
        }
        &:nth-child(odd) {
            background-color: rgba(183, 182, 182, 0.26);
            .rows {
                flex-direction: column;
                @media(min-width: 1024px) {
                    flex-direction: row-reverse;
                }
                .image {
                    float: right;
                    @media(max-width: 991px) {
                        float: none;
                        margin: 0 auto 60rem;
                    }
                    &:after {
                        content: '';
                        background-color: $yellow;
                        width: 317rem;
                        height: 37rem;
                        position: absolute;
                        bottom: 30rem;
                        left: -30rem;
                        transition: all 0.4s;
                        @media(max-width: 680px) {
                            right: 0;
                            width: 85%;
                            left: 0;
                        }
                    }
                }
                .head-content {
                    width: calc(100% - 414rem);
                    padding-right: 100rem;
                    padding-left: 0;
                    @media(max-width: 991px) {
                        width: 100%;
                        padding-right: 0;
                    }
                }
            }
        }
        .head-content {
            width: calc(100% - 414rem);
            padding-left: 100rem;
            @media(max-width: 991px) {
                width: 100%;
                padding-left: 0;
                text-align: center;
            }
        }
        .image {
            position: relative;
            max-width: 414rem;
            width: 100%;
            @media(min-width: 992px) {
                height: 383rem;
            }
            @media(max-width: 991px) {
                float: none;
                margin: 0 auto 60rem;
            }
            &:after {
                content: '';
                background-color: $yellow;
                width: 317rem;
                height: 37rem;
                position: absolute;
                bottom: 30rem;
                right: -30rem;
                transition: all 0.4s;
                @media(max-width: 680px) {
                    right: 0;
                    width: 85%;
                }
            }
        }
        img {
            width: 100%;
            height: auto;
        }
        .name {
            display: inline-block;
            background-color: #000;
            color: #fff;
            font-size: 25rem;
            padding: 5rem 15rem;
            letter-spacing: 8rem;
            span {
                color: $yellow;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .small-opis {
            padding: 30rem 0;
            font-size: 20rem;
        }
        .opis-glowny {
            font-weight: 600;
            color: #000;
            font-size: 20rem;
            @media(max-width: 991px) {
                font-size: 17rem;
            }
        }
    }
    .wydawca {
        margin-top: 150rem;
        background: $yellow;
        font-size: 25rem;
        padding: 80rem 0 85rem;
        position: relative;
        color: #000;
        letter-spacing: 4rem;
        @media(max-width: 991px) {
            text-align: center;
            margin-top: 0;
        }
        span {
            color: #fff;
            font-weight: 800;
            letter-spacing: 15rem;
        }
        strong {
            font-weight: 700;
        }
        .element {
            img {
                position: absolute;
                top: -170rem;
                right: 110rem;
                width: 860rem;
                mix-blend-mode: hard-light;
                height: auto;
                @media(max-width: 991px) {
                    display: none;
                }
            }
        }
        .container-fluid {
            max-width: 1335rem;
        }
    }
}

.content-banner h1 {
    font-size: 200rem;
    color: #fff;
    font-weight: 500;
    position: relative;
    top: 48rem;
    @media(max-width: 991px) {
        color: #fff;
        font-size: 110rem;
        text-align: center;
    }
    @media(max-width: 991px) {
        color: #fff;
        font-size: 60rem;
        text-align: center;
        background: #000;
        display: inline-block;
        margin: 0 auto;
        padding: 10px 20px 0px 20rem;
    }
    @media(max-width: 550px) {
        color: #fff;
        font-size: 40rem;
        text-align: center;
        background: #000;
        display: inline-block;
        margin: 0 auto;
        padding: 10px 20px 0px 20rem;
    }
}

@media(max-width: 991px) {
    .content-banner {
        text-align: center;
    }
}

.content-banner h1 span {
    color: #000;
    font-weight: 900;
    padding-right: 320rem;
    padding-left: 40rem;
    position: relative;
    display: inline-block;
    @media(max-width: 991px) {
        color: #fff;
        //padding: 0 45rem 0;
    }
    @media(max-width: 991px) {
        display: inline-block;
        margin-bottom: 9rem;
        padding: 0;
        font-weight: 500;
    }
}

.banner-redakcja {
    display: flex;
    align-items: center;
}

.content-banner h1 span:after {
    content: '';
    display: block;
    width: 371rem;
    height: 28rem;
    background: #F7AB19;
    position: absolute;
    bottom: -10rem;
    left: 49rem;
    @media(max-width: 991px) {
        width: 204rem;
        height: 21rem;
        display: none;
    }
    @media(max-width: 991px) {
        width: 84rem;
        height: 11rem;
        margin: 0 auto;
        display: none;
        left: 50%;
        transform: translate(-50%, 0);
    }
}