.page-template-reklama-2,
.page-template-reklama {
    .banner-page {
        background: url('/wp-content/uploads/2022/01/bgreklama-1.png');
        color: #fff;
        padding: 140rem 0 0 0;
        font-size: 30rem;
        background-size: cover;
        background-position: center center;
        min-height: 920rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 991px) {
            padding: 120rem 0 90rem 0;
            font-size: 18rem;
            min-height: auto;
        }
        h1 {
            color: #fff;
            font-size: 158rem;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 74rem;
            margin-bottom: 0;
            @media(max-width: 991px) {
                font-size: 40rem;
                letter-spacing: 10rem;
                word-break: break-all;
            }
        }
        p {
            font-weight: 700;
            @media(min-width: 992px) {
                margin-top: -30rem;
            }
            span {
                background: #000;
                padding: 0rem 4rem 0rem 0;
                display: inline-block;
                transform: translateY(-4rem);
                @media(max-width: 991px) {
                    margin-top: 0;
                    background: transparent;
                }
                strong {
                    color: $yellow;
                }
            }
        }
        p,
        h1 {
            text-align: center;
            @media(min-width: 992px) {
                padding-left: 180rem;
                text-align: left;
            }
        }
    }
    .section-1 {
        font-size: 20rem;
        background: #1F1F1F;
        padding: 0rem 0 100rem;
        position: relative;
        color: #fff;
        font-weight: 600;
        overflow: hidden;
        min-height: 750rem;
        &:after {
            content: '';
            background: url(/wp-content/uploads/2022/01/Inteligentny-obiekt-wektorowy.png);
            width: 476rem;
            height: 430rem;
            display: block;
            position: absolute;
            bottom: 60rem;
            right: -145rem;
            z-index: 1;
            background-size: cover;
            @media(max-width: 992px) {
                display: none;
            }
        }
        @media(max-width: 991px) {
            font-size: 18rem;
            display: flex;
            flex-direction: column-reverse;
            padding-bottom: 0;
            text-align: center;
            padding-top: 0;
            min-height: auto;
        }
        @media(min-width: 992px) {
            padding: 100px 0;
        }
        .image-1 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 10%;
            @media(max-width: 991px) {
                position: relative;
                width: 100%;
                height: 42vw;
                object-position: bottom;
            }
        }
        .section-1__content {
            padding-left: 30rem;
            p {
                font-size: 21rem;
                font-weight: 500;
                max-width: 530rem;
                line-height: 1.2;
                strong {
                    font-weight: 700;
                }
                @media(max-width: 991px) {
                    margin: 1.5em auto;
                    font-size: 18rem;
                }
            }
            @media(max-width: 991px) {
                padding-left: 0;
                padding-top: 40rem;
            }
            @media(min-width: 992px) {
                padding-left: 120rem;
                padding-top: 130rem;
            }
            ul {
                padding-left: 30rem;
                font-size: 21rem;
                @media(max-width: 991px) {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    // align-items: center;
                    margin-bottom: 60rem;
                    font-size: 18rem;
                }
                li {
                    position: relative;
                    list-style-type: none;
                    @media(max-width: 991px) {
                        text-align: left;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        top: 9rem;
                        left: -33rem;
                        width: 14rem;
                        height: 14rem;
                        background-color: #D69414;
                        display: block;
                        border-radius: 100rem;
                    }
                }
            }
        }
    }
    .section-1-1 {
        padding: 90rem 0;
        background-size: cover !important;
        background-position: center center !important;
        .row {
            .row-content {
                max-width: 1345rem;
                margin: 0 auto;
                padding: 18rem 40rem 0rem;
                background-color: rgba(0, 0, 0, 0.82);
                font-size: 17rem;
                color: #fff;
                font-weight: 500;
                @media(min-width: 992px) {
                    font-size: 33rem;
                    line-height: 46rem;
                }
                p {
                    margin-bottom: 19rem;
                    font-weight: 600;
                    line-height: 42rem;
                    @media(min-width: 1024px) {
                        font-size: 33rem;
                        line-height: 36rem;
                    }
                }
                strong {
                    display: block;
                    margin-bottom: 35rem;
                    color: #D69414;
                    font-weight: 800;
                }
            }
        }
    }
    .section-1-2 {
        // padding: 100rem 0;
        position: relative;
        display: flex;
        align-items: center;
        padding: 15px 0 45rem 0;
        &:before {
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
        }
        @media(min-width: 992px) {
            padding: 0;
            height: 709rem;
            background-position: 0px -100rem !important;
            background-size: cover !important;
        }
        h2 {
            color: #fff;
            font-size: 30rem;
            font-weight: 700;
            letter-spacing: 1rem;
            position: relative;
            text-align: center;
            margin-bottom: 60rem;
            &:before {
                content: '';
                height: 8rem;
                width: 280rem;
                background-color: #D69414;
                position: absolute;
                bottom: -20rem;
                left: 50%;
                transform: translate(-50%, 0);
                @media(min-width: 992px) {
                    width: 400rem;
                    left: unset;
                    transform: unset;
                }
            }
            @media(min-width: 992px) {
                margin-bottom: 0;
                font-size: 42rem;
                letter-spacing: 1rem;
                padding-left: 140rem;
                margin-top: -120rem;
                text-align: left;
            }
        }
        .content-on-bilbord {
            font-size: 18rem;
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            padding: 20rem;
            width: 100%;
            border-left: 13rem solid #848484;
            @media(min-width: 992px) {
                font-size: 25rem;
                background: #191919;
                color: #fff;
                padding: 20rem;
                width: 860rem;
                position: absolute;
                right: 200rem;
                top: 88rem;
                height: 436rem;
                border-left: 13rem solid #848484;
                border-right: 23rem solid #000;
            }
            ul {
                padding: 30rem;
                li {
                    list-style-type: none;
                    position: relative;
                    font-weight: 600;
                    margin-bottom: 10rem;
                    line-height: 47rem;
                    &:before {
                        content: '';
                        width: 31rem;
                        height: 8rem;
                        background-color: #D69414;
                        position: absolute;
                        top: 15rem;
                        left: -56rem;
                    }
                }
            }
        }
    }
    .section-2 {
        background: url('/wp-content/uploads/2022/01/tlo.png');
        color: #fff;
        padding: 140rem 0 200rem;
        font-size: 25rem;
        background-size: cover;
        @media(max-width: 991px) {
            padding: 70rem 0;
        }
        @media(max-width: 991px) {
            background-position: 50% 100%;
            font-size: 17rem;
            text-align: center;
        }
        .content {
            font-weight: 600;
            font-size: 25rem;
            line-height: 1.2;
            max-width: 850rem;
            @media(min-width: 992px) {
                padding-left: 180rem;
                padding-right: 50rem;
            }
            @media(max-width:991px) {
                font-size: 18rem;
            }
            a {
                color: #E6A11B;
                font-weight: 800;
                font-size: 33rem;
                // display: block;
                margin-top: -24rem;
                background: #000;
                display: table-caption;
                padding: 7rem 10rem;
                margin-bottom: 10rem;
                @media(max-width: 991px) {
                    font-size: 24rem;
                    word-break: break-all;
                    margin-top: 0rem;
                    display: inline-block;
                    background: #000;
                    padding: 10rem;
                }
                @media(max-width: 567px) {
                    font-size: 17rem;
                }
            }
        }
    }
    .section-3 {
        padding: 90rem 0 0;
        background-size: cover !important;
        background-position: center center !important;
        @media(min-width: 992px) {
            padding: 90rem 0 140rem;
        }
        .wpcf7-response-output {
            font-size: 17rem!important;
            color: #fff!important;
            border-color: #fa9800!important;
            background: #fa9800!important;
            padding: 10rem!important;
            margin: 20rem 0 !important;
            border: 0 !important;
        }
        .row-form {
            width: 100%;
            max-width: 1255rem;
            margin: 0 auto;
            padding: 40rem 50rem 30rem 50rem;
            background-color: rgba(0, 0, 0, 0.61);
            span.wpcf7-not-valid-tip {
                font-size: 13rem;
                margin-top: 10rem;
                letter-spacing: 2rem;
                background: #dc3232;
                color: #fff;
                padding: 10rem;
                text-indent: 0;
            }
            @media(min-width: 992px) {
                padding: 40rem 90rem 0rem 90rem;
            }
            .row-input-send .col-lg-12 {
                span.wpcf7-spinner {
                    display: none;
                }
                @media(max-width: 991px) {
                    text-align: center;
                }
            }
            form {
                .row.row-input .col-lg-9 {
                    @media(min-width: 992px) {
                        flex: 0 0 100%;
                        max-width: calc(100% - 240rem);
                    }
                }
                .label {
                    @media(min-width: 992px) {
                        flex: 0 0 240rem;
                    }
                }
                .title {
                    font-size: 20rem;
                    color: #F7AB19;
                    font-weight: 700;
                    margin-bottom: 40rem;
                    text-align: center;
                    @media(min-width: 992px) {
                        font-size: 33rem;
                        margin-bottom: 90rem;
                    }
                }
                .row-input {
                    margin-bottom: 20rem;
                    @media(min-width: 992px) {
                        align-items: center;
                    }
                    .label {
                        color: #D69414;
                        font-size: 18rem;
                        font-weight: 600;
                        @media(min-width: 992px) {
                            font-size: 22rem;
                        }
                    }
                    input {
                        color: #000;
                        font-size: 18rem;
                        font-weight: 300;
                        height: 40rem;
                        text-indent: 20rem;
                        @media(min-width: 992px) {
                            font-size: 22rem;
                            height: 64rem;
                        }
                        &::placeholder {
                            color: #000 !important;
                            font-size: 18rem;
                            @media(min-width: 992px) {
                                font-size: 22rem;
                            }
                        }
                    }
                    textarea {
                        color: #000;
                        font-size: 18rem;
                        font-weight: 300;
                        height: 120rem;
                        padding: 20rem;
                        @media(min-width: 992px) {
                            font-size: 22rem;
                            height: 200rem;
                        }
                        &::placeholder {
                            color: #000 !important;
                            font-size: 18rem;
                            @media(min-width: 992px) {
                                font-size: 22rem;
                            }
                        }
                    }
                }
                .row-input-zgoda {
                    font-size: 19rem;
                    color: #fff;
                    font-weight: 500;
                    label {
                        max-width: 722rem;
                        input {
                            position: absolute;
                            opacity: 0;
                            &:checked~span {
                                &:after {
                                    opacity: 1;
                                }
                            }
                        }
                        span {
                            position: relative;
                            padding-left: 18rem;
                            display: block;
                            &:after {
                                content: '';
                                background: url(https://magazyndigital.pl/wp-content/uploads/2022/01/xxxx.png);
                                width: 15rem;
                                height: 14rem;
                                position: absolute;
                                top: 6rem;
                                left: -17rem;
                                filter: brightness(0);
                                opacity: 0;
                                transition: all 0.4s;
                            }
                            &:before {
                                content: '';
                                width: 20rem;
                                height: 20rem;
                                background-color: #C8C8C8;
                                position: absolute;
                                top: 3rem;
                                left: -19rem;
                            }
                        }
                    }
                }
                .row-input-send {
                    margin-top: 15rem;
                    @media(min-width: 992px) {
                        margin-top: 0;
                    }
                    input {
                        background: red;
                        font-size: 23rem;
                        text-transform: uppercase;
                        font-weight: 700;
                        opacity: 1;
                        border: 0;
                        padding: 3px 30rem;
                        letter-spacing: 2rem;
                    }
                }
            }
        }
    }
    .section-4 {
        background-size: cover !important;
        background-position: center center !important;
        padding: 0rem 0 90rem;
        h2 {
            color: #000;
            font-size: 45rem;
            text-align: center;
            display: block;
            font-weight: 700;
            @media(min-width: 992px) {
                font-size: 100rem;
            }
        }
        .row-faq {
            max-width: 1290rem;
            margin: 0 auto;
            &_single {
                &.active {
                    .row-faq_single-desc {
                        display: block;
                        margin-bottom: 30rem;
                    }
                }
                h3 {
                    cursor: pointer;
                    background-color: #000;
                    color: #fff;
                    padding: 7rem;
                    font-size: 23rem;
                    line-height: 30rem;
                    margin-bottom: 50rem;
                    display: block;
                    text-align: center;
                    position: relative;
                    z-index: 1;
                    @media(min-width: 992px) {
                        font-size: 35rem;
                        line-height: 48rem;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -20rem;
                        left: 50%;
                        transform: translate(-50%, 0) rotate(45deg);
                        width: 50rem;
                        height: 50rem;
                        background-color: #000;
                        z-index: -1;
                    }
                }
                &-desc {
                    font-size: 19rem;
                    background-color: #fff;
                    color: #000;
                    padding: 7rem 20rem;
                    display: none;
                    line-height: 25rem;
                    font-weight: 400;
                    @media(min-width: 992px) {
                        padding: 7rem 100rem;
                    }
                }
            }
        }
    }
}