/* 
Here will go all custom scss for theme
*/

$dark: #2a2b4b;
$dark2: #292a4b;
$yellow: #F7AB19;
$white: #fff;
.postid-421 .single-post .autor {
    display: none;
}

a,
a:hover {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    // font-size: 16rem;
    // line-height: 30rem;
    // @media(min-width: 1199px) {
    //     font-size: 19rem;
    //     line-height: 28rem;
    // }
}

@media(min-width: 1350px) {
    .container {
        max-width: 1660rem;
    }
}

header .container-fluid {
    max-width: 1600rem;
}

.container-fluid {
    max-width: 1660rem;
}

.newsletter-success {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    &__wrapper {
        background: url(/wp-content/uploads/2022/01/tlopopup.png) center center no-repeat;
        background-size: cover;
        width: 700rem;
        height: 300rem;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: calc(50vh - 150rem);
        box-shadow: 0 0 100rem #000;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        font-size: 40rem;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 10rem;
        text-align: center;
        padding-top: 80rem;
        position: relative;
        z-index: 1;
        padding-left: 15rem;
        span {
            font-size: 24rem;
            background: #f7ab19;
            max-width: 280rem;
            text-transform: initial;
            letter-spacing: 3rem;
            font-weight: 600;
            line-height: 1.2;
            padding: 10rem;
            margin-top: 10rem;
            margin-right: 15rem;
        }
        img {
            position: absolute;
            z-index: -1;
            width: 555rem;
            top: 0;
            margin-right: 15rem;
        }
        @media(max-width: 991px) {
            width: 80%;
        }
        &--close {
            position: absolute;
            top: 0;
            right: 35rem;
            height: auto;
            width: 75rem;
            cursor: pointer;
        }
    }
}

.reklama-success {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    &__wrapper {
        background: url(/wp-content/uploads/2022/01/tlopopup.png) center center no-repeat;
        background-size: cover;
        width: 830rem;
        height: 390rem;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: calc(50vh - 150rem);
        box-shadow: 0 0 100rem #000;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        font-size: 40rem;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 10rem;
        text-align: center;
        padding-top: 80rem;
        position: relative;
        z-index: 1;
        padding-left: 15rem;
        span {
            background: #fff;
            max-width: 660rem;
            text-transform: initial;
            letter-spacing: 3rem;
            line-height: 1.2;
            padding: 12rem;
            margin-top: 10rem;
            margin-right: 15rem;
            color: #000;
            font-size: 17rem;
            font-weight: 700;
        }
        img {
            position: absolute;
            z-index: -1;
            width: 615rem;
            top: 0;
            margin-right: 15rem;
        }
        @media(max-width: 991px) {
            width: 80%;
        }
        &--close {
            position: absolute;
            top: 0;
            right: 35rem;
            height: auto;
            width: 75rem;
            cursor: pointer;
        }
    }
}

@media(min-width: 1200px) {
    li.no-active a {
        color: #fff !important;
    }
    li.no-active a:before,
    li.no-active a:after {
        opacity: 0 !important;
    }
    li.no-active a:hover {
        color: #F7AB19 !important;
    }
    li.no-active a:hover:before {
        top: -4rem !important;
    }
    li.no-active a:hover:after {
        bottom: -4rem !important;
    }
    li.no-active a:hover:before,
    li.no-active a:hover:after {
        opacity: 1 !important;
    }
    li.no-active a:before {
        top: -10rem !important;
    }
    li.no-active a:after {
        bottom: -10rem !important;
    }
}

@import "header";
@import "banner";
@import "home";
@import "o-magazynie";
@import "online";
@import "reklama";
@import "redakcja";
@import "rabaty";
@import "pisza";
@import "news";
@import "grid-posts";
@import "404";
@import "kup";